- content_for :javascript do
  window.ST.initialize_faq();

= render :partial => "layouts/left_hand_navigation", :locals => { :links => help_links }

- content_for :title, t('layouts.help.faq')
- content_for :title_header do
  %h1= t("layouts.help.help_on_rentog")

.left-navi-section.about-section
  - content = render :partial => "default_faq_page"
  - content_for :meta_description, StringUtils.first_words(strip_tags(content.html_safe))
  - content_for :keywords, StringUtils.keywords(strip_tags(content.html_safe))
  = content
