.people-fluid-thumbnail-grid-container
  .people-fluid-thumbnail-grid#profile-listings-list

    - listing_shape_ids = listings.map{|x| x[:listing_shape_id]}
    - listing_shapes = ListingShape.where("id IN (?)",listing_shape_ids)
    = render :partial => "people/grid_item", :collection => listings, :as => :listing, :locals => {listing_shape_ids: listing_shape_ids, listing_shapes: listing_shapes}

- if listings.total_entries > limit
  .people-load-more-listings-container
    #load-more-listings
      - if current_user?(@site_owner) && params[:show_closed]
        = link_to t("people.show.show_all_listings"), "#", :data => { :url => person_listings_url(@site_owner, :show_closed => true) }
      - else
        = link_to t("people.show.show_all_open_listings"), "#", :data => { :url => person_listings_url(@site_owner) }
