-if @max_followed_reached.nil?
  %div{:class => "upgrade_profile_person"}= t('people.show.followers_limit_reached')
- else
  = link_to t('people.show.followed_limit_reached').html_safe, get_wp_url('pricing'), :class => "upgrade_profile_person"
