- manufacturers = custom_field.options.map{|option| option.title(I18n.locale)}

:javascript
  $(function(){
    var availableTags = #{manufacturers};
    $("#manufacturer_temp").autocomplete({source: availableTags, delay: 50});

    var selected_option = $("#custom_fields_#{custom_field.id} option:selected").text();
    var selected_val = $("#custom_fields_#{custom_field.id} option:selected").val();
    if (selected_val !== ""){
      $('#manufacturer_temp').val(selected_option);
    }

    $('#manufacturer_temp').blur(function(){
      var val = $('#manufacturer_temp').val();

      $('#custom_fields_29 option')
      .removeAttr("selected")
      .filter(function() { return $.trim( $(this).text() ) == val; })
      .attr('selected','selected');
    });
  });
