// Home page styles

@import "mixins/all";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";

.home-toolbar {
  @include pie-clearfix;
  margin-bottom: lines(0.5);
  border-bottom: 1px solid $border;

  @include media(tablet) {
    margin-bottom: lines(1);
  }
}

.home-grid {
  position: relative;
}

.home-toolbar-button-group {
  @include button-group;
  margin-bottom: lines(0.5);

  // Leave room for filters button on the left side
  width: 100%;

  &.filters-enabled {
    width: 50%;
    padding-left: lines(0.5 / 2);
  }

  @include media(tablet) {
    &, &.filters-enabled {
      float: right;
      width: auto;
    }
  }
}

.home-toolbar-button-group-button {
  @include button($link);
  @include button-group-button;
  @include ellipsis;

  // Notice: hard-coded for three buttons
  width: 33.3%;

  @include media(tablet) {
    width: auto;
    min-width: lines(5);
  }
}

.home-toolbar-button-text {
  display: none;

  @include media(tablet) {
    margin-left: lines(0.25);
    display: inline-block;
  }
}

/**
  Hidden on mobile if this class is present. Doesn't affect
  on desktop
*/
.home-toolbar-filters-mobile-hidden {
  display: none;

  @include media(tablet) {
    display: block;
  }
}

#goto-wishlist{
  padding: 10px;
  background-color: #E8E8E8;
  border-radius: 5px;
  margin-bottom: 0.75em;
}

.home-toolbar-show-filters-button-container {
  width: 50%;
  float: left;
  padding-right: lines(0.5 / 2);
}

.home-toolbar-show-filters-button {
  @include button($link);
  @include button-group-button-padding;
  @include neutral-button-color;
  @include selected-button-color;
  @include ellipsis;
  width: 100%;
  margin: 0;
  line-height: $default-button-line-height;

  @include media(tablet) {
    display: none;
  }
}

.home-map > .map {
  height: lines(10.5); // Magical number, this just looks good on iPhone

  @include media(tablet) {
    height: 30em;
  }
}

.home-listings {
  padding-left: 10px;
}

.home-list-item {
  display: flex;
  overflow: hidden;
  position: relative;
  padding-bottom: lines(0.5);
  padding-top: lines(0.5);
  padding-right: lines(0.5);
  padding-left: lines(0.5);
  margin-bottom: lines(0.5);
  border-bottom: 1px solid $border;
  height: lines(4);

  @include media(tablet) {
    height: lines(6);
  }
}
.home-list-item.own_listing{
  box-shadow: 0px 0px 5px #FF9800;

  &:hover{
    box-shadow: 0px 0px 15px #FF9800;
  }
}

$image-width: lines(7.5); // FIXME
$image-height: image-height($image-width);
$image-padding: lines(1);
$home-list-image-size-mobile: lines(3);
$home-list-image-padding-mobile: lines(1);

.home-list-image-container-desktop {
  height: $image-height;
  width: $image-width;
  display: none;

  @include media(tablet) {
    display: block;
  }
}

.home-list-image-container-mobile {
  width: $home-list-image-size-mobile;
  height: $home-list-image-size-mobile;
  display: block;

  @include media(tablet) {
    display: none;
  }
}

.home-list-image {
  box-shadow: 0px 0px 1px grey;
  width: 100%;
  height: 100%;
  line-height: 20px;
  font-size: 13px;
  text-align: center;
  display: block;
  color: grey;
  @include border-radius($default-border-radius);

  @include media(tablet){
    line-height: 100px;
    font-size: 16px;
  }
}

.home-no-image {
  text-align: center;
  padding-top: lines(2);
  background: $highlight;
  height: 100%;
  width: 100%;
  // FIXME Tee parempi no image
}


$home-list-avatar-size: em(40);
$home-list-avatar-size-mobile: em(30);
$home-list-avatar-padding: lines(0.25);
.home-list-title {
  max-height: 1em;
  margin: 0;
  padding: 0;
  font-weight: 700;
  @include normal-type;
  line-height: lines(0.65);

  @include media(tablet) {
    @include big-type;
    max-height: 24px;
  }
}

.home-share-type-link {
  /*overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 85%;
  display: inline-block;
  color: #23a3b9;*/
}


.home-list-avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: $home-list-avatar-size;

  img {
    @include border-radius($default-border-radius);
    display: block;
    width: 100%;
  }

  display: none;

  @include media(large-mobile) {
    display: block;
  }

}

.home-list-type{
  line-height: 18px;
  font-size: 0.7em;
  padding: 4px;
  font-weight: bold;
  text-align: center;
  cursor: default;
  border-radius: 5px;
  border: 1px solid #D0D0D0;
  background-color: #E2E2E2;
  color: #505050;

  @include media(large-mobile){
    font-size: 0.9em;
  }
}
.home-list-share{
  line-height: 18px;
  font-size: 0.7em;
  padding: 4px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  max-width: 110px;

  cursor: pointer;
  background-color: #585858;
  color: white;
  box-shadow: 1px 1px 3px #777;

  @include media(large-mobile){
    font-size: 0.9em;
  }

  &:hover{
    background-color: #787878;
    box-shadow: 1px 1px 5px #000;
  }
}


.home-list-author-reviews {
  @include small-type;
}



.home-list-price {
  text-align: right;
  margin-top: 3px;

  @include media(mobile){
    margin-top: -5px;
  }
}

.home-list-price-value {
  font-size: em(26);
  line-height: 1;
  font-weight: 400;

  @include media(tiny-mobile){
    font-size: em(24);
  }
  @include media(mobile){
    font-size: em(31);
  }
  @include media(large-mobile){
    font-size: em(36);
  }
}

.home-list-listing-on-request{
  font-size: em(22);
  line-height: 1;
  font-weight: 400;

  @include media(tiny-mobile){
    font-size: em(20);
  }
  @include media(large-mobile){
    font-size: em(28);
    margin-top: 10px;
  }
  @include media(tablet){
    margin-top:23px;
  }
}

.home-list-listing-shape-value {
  margin-top: 15px;
  font-size: em(22);
  line-height: 1;
  font-weight: 400;
  @include media(tiny-mobile){
    font-size: em(20);
  }
  @include media(mobile){
    font-size: em(28);
    margin-top: 10px;
  }
  @include media(tablet){
    margin-top:17px;
  }
}

.home-list-price-quantity {
  @include ellipsis;
  margin-top:16px;
  text-align: right;
  font-size: 1.1em;
  min-height: 12px;
}
.home-list-price-quantity-mobile{
  @include ellipsis;
  margin-top:-5px;
  text-align: right;
  font-size: 0.9em;

  @include media(tablet){
    display: none;
  }
}

.home-no-listings {
  @include border-radius($default-border-radius);
  padding: lines(0.5) lines(1);
  background: $highlight;
}

.home-categories-link {
  display: block;
  color: $body;
  text-transform: uppercase;

  &.selected {
    font-weight: bold;

  }
}

.home-categories-main {
  @extend .home-categories-link;

  &.selected.has-subcategories {
    border-bottom: 1px solid $border;
  }
}

.home-categories-sub {
  @extend .home-categories-link;
  font-size: 14px;
  margin-left: lines(0.5);
}

.home-toolbar-toggle-container {
  margin-bottom: lines(0.5);
}

#pageless-loader {
  padding-top: lines(0.5);
  clear: both;
}

/* Filters */

.custom-filter {
  margin-bottom: lines(1);
}

.custom-filter-title {
  font-weight: 700;
  @include title-border;
}

.custom-filter-options {
  &.scrollable {
    max-height: 180px;
    overflow-y: scroll;
  }
}

.custom-filter-checkbox-label {
  margin: 0;
}

.custom-filter-checkbox-label-text {
  font-weight: 400;
  margin-left: lines(0.125);
}


.share-dialog-list-view{
  border: 2px solid #D6D6D6;
  width: 180px;
  position: absolute;
  background-color: #383838;
  z-index: 10;
  min-height: 20px;
  padding: 2px 8px 0px 5px;
  color: white;
  display: none;

  top: 55px;
  left: 90px;
  font-size: 0.7em;

  @include media(tablet){
    top: 100px;
    left: 205px;
  }
}
.link-dialog-list-view{
  position: absolute;
  border: 2px solid #D6D6D6;
  background-color: #383838;
  z-index: 11;
  min-height: 20px;
  width: 180px;
  font-size: 0.8em;
  display:none;

  top: 55px;
  left: 90px;

  @include media(tablet){
    top: 100px;
    left: 205px;
  }
}


.home-list-image-wrapper{
  float: left;
  height: 4.6em;
  min-width: 4.6em;
  margin-right: 1%;

  @include media(tablet){
    height: 7.6em;
    min-width: 11.3em;
  }
}

.home-list-listing-details-wrapper{
  width: 100%;

  .row{
    margin-bottom: 0px;
  }
}

.row#share_cond_price{
  margin-top: 7px;

  @include media(mobile){
    font-size: 0.8em;
  }

  @include media(tablet){
    margin-top: 0px;
  }

  .colFix-4{
    margin-top: 0px;
    padding-left: 1px;
    padding-right: 1px;

    @include media(tablet){
      margin-top: 12px;
      padding-left: 0.75em;
      padding-right: 0.75em;
    }
  }
}
.author-and-location{
  font-size: 0.8em;
  max-height: 24px;
  overflow: hidden;

  @include media(tiny-mobile){
    max-height: 15px;
  }
}

.add-to-wishlist{
  font-weight: bold;
  font-size: 0.75em;
  padding-top: 2px;
}

.remove-from-wishlist{
  font-size: 0.75em;
  padding-top: 2px;
}

