/**
  Homepage thumbnail grid view
*/

@import "mixins/all";

$home-thumbnail-grid-avatar: 36px;
$home-thumbnail-grid-avatar-padding: 6px;
$home-thumbnail-grid-author: $home-thumbnail-grid-avatar + ($home-thumbnail-grid-avatar-padding * 2);

.listing_wrapper{
  box-shadow: 0 0 2px #7b7b7b;
  &:hover{
    #box-shadow: 0px 0px 10px black;
  }
}

.listing_wrapper.own_listing{
  box-shadow: 0px 0px 10px #FF9800;

  &:hover{
    #box-shadow: 0px 0px 25px #0054FF;
  }
}

.home-fluid-thumbnail-grid{
  padding: 10px;
}
.home-fluid-thumbnail-grid-narrow {
  @include create-fluid-thumbnail-grid(home, 1, 2, 2, 3, 3, 3, 3, 4);
}

.home-fluid-thumbnail-grid-wide {
  @include create-fluid-thumbnail-grid(home, 1, 1, 2, 3, 4, 4, 4, 4);
}

.home-fluid-thumbnail-grid-pooltool {
  @include create-fluid-thumbnail-grid(home, 2, 2, 3, 4, 5, 5, 6, 6);
}

.home-fluid-thumbnail-grid-author {
  @include border-bottom-radius($default-border-radius);
  background-color: $highlight;
  height: $home-thumbnail-grid-author;
  position: relative;
}
.home-fluid-thumbnail-grid-details {
  @include border-bottom-radius($default-border-radius);
  background-color: $highlight;
  height: auto;
  position: relative;
}

.home-fluid-thumbnail-grid-author-avatar {
  padding: $home-thumbnail-grid-avatar-padding;
}

.home-fluid-thumbnail-grid-author-avatar-image {
  @include border-radius($default-border-radius);
  height: $home-thumbnail-grid-avatar;
}

.home-fluid-thumbnail-grid-author-name {
  @include small-type;
  position: absolute;
  top: $home-thumbnail-grid-avatar-padding;
  left: (2.5 * $home-thumbnail-grid-avatar-padding) + $home-thumbnail-grid-avatar; // 2.5 for some extra padding
  right: $home-thumbnail-grid-avatar-padding;
  bottom: $home-thumbnail-grid-avatar-padding;

  // Vertical centering
  line-height: $home-thumbnail-grid-avatar;

  @include ellipsis;
}

.grid-item-details{
  padding: 4px 0 4px 8px;
  font-weight: bold;
  line-height: 18px;
  font-size: 0.6em;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #e8e8e8;
}

.grid-item-share{
  cursor: pointer;
  background-color: #4A4A4A;
  color: white;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  font-size:12px;

  &:hover{
    background-color: #5D5D5D;
    color: white;
  }
}

.grid-item-type-fabriksneu{
  border: none;
  border-right: 3px solid #1BB11B !important;
  background-color: #DFFDDF!important;
}
.grid-item-type-neuwertig{
  border-right: 1px dashed rgba(0, 0, 0, 0.28);
  #background-color: #F8CCA2!important;
}
.grid-item-type-gut{
  border-right: 1px dashed rgba(0, 0, 0, 0.28);
  #background-color: #F0ECC3!important;
}
.grid-item-type-gebraucht{
  border-right: 1px dashed rgba(0, 0, 0, 0.28);
  #background-color: #C4E2F0!important;
}
.grid-item-type-defekt{
  border: none;
  border-right: 3px solid #ec5555 !important;
  background-color: #FFDFDD!important;
}

.list-item-type-fabriksneu{
  border: none!important;
  border-left: 3px solid #1BB11B !important;
  border-bottom: 3px solid #1BB11B !important;
  background-color: #DFFDDF!important;
  border-radius: 0 10px 0 10px!important;
}
.list-item-type-neuwertig{
  border-right: 1px dashed rgba(0, 0, 0, 0.28);
  #background-color: #F8CCA2!important;
}
.list-item-type-gut{
  border-right: 1px dashed rgba(0, 0, 0, 0.28);
  #background-color: #F0ECC3!important;
}
.list-item-type-gebraucht{
  border-right: 1px dashed rgba(0, 0, 0, 0.28);
  #background-color: #C4E2F0!important;
}
.list-item-type-defekt{
  border: none!important;
  border-left: 3px solid #ec5555 !important;
  border-bottom: 3px solid #ec5555 !important;
  background-color: #FFDFDD!important;
  border-radius: 0 10px 0 10px!important;
}


.share-dialog-grid-view{
  position: absolute;
  background-color: #383838;
  z-index: 10;
  font-size: 0.6em;
  padding: 3px 8px 0 8px;
  color: white;
  width: 100%;
  display: none;
  line-height: 2em;

  top: 0px;
  left: 0px;
}
.link-dialog-grid-view{
  position: absolute;
  background-color: #383838;
  z-index: 11;
  font-size: 0.6em!important;
  width: 100%;
  left: 0px;
  top: 0px;
  font-size: 0.8em;
  display:none;
}
.share-buttons{
  display: block;
  border-radius: 4px;
  width: 25%;
  padding: 0px;
  float:left;
  text-align: center;

  a{
    color: white;
    &:hover{
      color: #eee;
    }
  }
}
.homepage-listing-linkedin-button{
  margin: 0px 0px!important;
  font-size:2.0em;
}
.homepage-listing-tweet-button{
  margin: 0px 0px!important;
  font-size: 2.0em;
}
.homepage-listing-email-button{
  margin: 0px 0px!important;
  font-size: 2.0em;
}
.homepage-listing-link-button{
  margin: 2px 0px!important;
  font-size: 1.8em;
}

input[type=text].link-input{
  width: 86%;
  margin: 4px 1%;
  padding: 1px 2%;
  min-height: 0px;
}
.clipboard_btn{
  width: 10%;
  padding: 1px 1%;
  display: inline;
  background-color: transparent;
  margin:0px;

  &:hover{
    background-color: #6C6C6C;
  }
}
