@import "mixins/all";

.import-listings-red{
  color: red!important;
}

.description_create_file_example{
  margin-top: 15px;
  background-color: #F5D4B4;
  border: 2px solid #EDAB6B;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #EDAB6B;
  text-align: center;
}


#importListings-upload-btn{
  margin-top: 0;
  padding: 2px 20px;
  background-color: black;
  float: right;
}

.importListings-form{
  border: 1px dotted rgb(180, 180, 180);
  padding: 10px;
  box-shadow: 0px 0px 10px;
}

#importListings-upload-btn:hover{
    background-color: #444;
    color: #F3B6B6;
  }

.import-listings-desc-table{
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 0.8em;

  table{
    box-shadow: 0 0 7px grey;
  }

  thead{
    background-color: rgb(189, 215, 222);
  }

  td{
    color: #535252;
  }

  td:first-child{
    font-weight: bold;
    color: black;
  }
}

.import-listings-second-head{
  visibility: hidden;

  @include media(tablet){
    visibility: visible;
  }
}


.upload_import_file_wrapper{

  .could-not-import, .import-failed{
    margin: 0 0 15px 30px;
    color: red;
    font-size: 1.1em;
  }
  .import-legend{
    margin-top:35px;
    text-align: center;
  }
  #import-legend-new{
    padding-left: 0.75em  ;
    background-color: white;
    border: 1px solid rgb(173, 173, 173);
    box-shadow: 0px 0px 10px grey;
    font-size: 0.7em;
    font-weight: bold;
  }
  #import-legend-update{
    background-color: rgb(245, 217, 176);
    border: 1px solid rgb(173, 173, 173);
    box-shadow: 0px 0px 10px grey;
    font-size: 0.7em;
    font-weight: bold;
  }
  #import-legend-failed{
    background-color: rgb(245, 171, 171);
    border: 1px solid rgb(173, 173, 173);
    box-shadow: 0px 0px 10px grey;
    font-size: 0.7em;
    font-weight: bold;
  }

  .attr_no_used{
    opacity: 0.5;
    background-color: #e0dede;
  }
  .listing_update{
    background-color: #F5D9B0;
  }
  .table{
    width: 4000px;
    margin-top: 8px;
  }
  .thead{
    font-weight: bold;
    font-size: 1.2em;
  }
  .tr{
    float: left;
    width: 100%;
  }
  .td.invalid-row{
    background-color: #F5ABAB;
  }
  .td.attr_error{
    background-color: #BA4A4A;
    color: white;
    font-weight: bold;
  }
  .table .tr .td,
  .table .thead .th{
    border: 1px solid #CECECE;
    padding: 4px 8px;
    width: 150px;
    font-size: 0.7em;
    float:left;
    overflow: hidden;
    line-height: 1.2em;
  }
  .table .thead .th{
    background-color: rgb(73, 74, 73);
    color: white;
  }
  .table .tr .td{
    height: 60px;
  }
  .table .thead .wide{
    width: 300px;
  }
  .table .tr .td-scroll{
    overflow-y: scroll;
    width: 300px;
  }
  .oldVal{
    color: red;
  }
  .newVal{
    color: green;
  }

  #large_text{
    z-index: 101;
    width: 40%;
    min-height: 30%;
    border: 2px solid black;
    box-shadow: 0 0 15px grey;
    position:absolute;
    top: 30%;
    left: 30%;
    background-color: white;
    display: none;
    padding: 10px;
    border-radius: 15px;
    font-size: 0.9em;
  }
  .clear{
    clear:both;
  }
  .import-file-btn-wrapper{
    margin-top: 15px;
  }
  #import-file-abort-btn{
    background-color: #D77;
    display: inline;
    &:hover{
      background-color: #D44;
    }
  }
  #import-file-create-btn,
  #import-file-update-btn{
    display: inline;
  }
  #import-file-update-create-btn{
    display: inline;
    background-color: #27B18E;
    &:hover{
      background-color: #219C7D;
    }
  }
}

.create-listings-from-file-wrapper{
  .link-wrapper{
    margin-top:60px;

    li{
      list-style-type: circle;
    }
  }
  .link-wrapper-header{
    font-weight: bold;
  }
  .error{
    color: red;
  }
  .success{
    color: rgb(64, 146, 64);
  }
  .nothing-imported{
    font-weight: bold;
    color: red;
  }
}
.import-from-file-link{
  display: block;
  margin-top: 10px;
  font-size: 1.2em;
}
