@import "mixins/all";


#invitation_target_employee{
  margin: 10px 0;
  cursor: pointer;
}
#target_employee_label{
   display:inline;
   margin-left:5px;
   vertical-align:center;
   cursor: pointer;
}


#invitation_target_any{
  margin: 10px 0;
  cursor: pointer;
}
#target_any_label{
  display:inline;
  margin-left:5px;
  cursor: pointer;
}


#invitation_target_shared_pool{
  margin: 10px 0 20px 0;
  cursor: pointer;
}
#target_shared_pool_label{
  display:inline;
  margin-left:5px;
  cursor: pointer;
}
