@import "compass/utilities/general/clearfix";
@import "compass/css3/box-sizing";
@import "mixins/all";

.listing-details-container {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.listing-image-container {
  border-radius: 10px;
  box-shadow: 0 0 8px grey;
}

.listing_attribute_question{
  display: block;
  font-weight: bold;
  width: 50%;
  float: left;
  max-width: 150px;
  overflow: hidden;
}
.listing_attribute{
  width: 100%;
  float: left;
  background-color: #F6F4F4;
  padding: 8px 12px !important;
  box-shadow: 0 0 1px #AAA;
  margin-bottom: 0px;
}
.listing_published_date{
  background-color: #535353;
  color: white;
  border: medium none;
  box-shadow: none;
  font-size: 0.8em;
}

// Social buttons
.listing-social {
  @include clearfix();

  overflow: hidden;
  background-color: #23a3b9;
  padding: 10px 5px;
  box-shadow: 0 0 8px grey;
  border-radius: 8px;
}

.listing-fb-like-button,
.listing-tweet-button {
  float: left;
  margin-right: lines(1);
}

.listing-tweet-button {
  padding-top: 4px; // Extra top padding to align with fb like button
}

// Listing price
.listing-price {
  clear: both; // Price floats to left
}

.listing-price-amount {
  @include huge-type;
  color: $light-body;
  display: block;
  float: left;
  margin-right: lines(0.25);
}

.listing-price-quantity {
  vertical-align: top;
  $hugeTypeLineHeight: lines(2);
  $hugeTypeFontSize: em($huge-type);
  $hugeTypeMargin: ($hugeTypeLineHeight - $hugeTypeFontSize) / 2; // Calculate the top margin based on the huge type
  $positionFineTune: em(2); // hugeTypeMargin calculates the correct position, but due to the different font size, some finetuning is needed
  // Use position relative, since the element is inline (no top-margin/padding should be used)
  position: relative;
  top: $hugeTypeMargin + $positionFineTune;
  color: $aside;
}

.listing-paypal-fee-info-link {
  cursor: pointer;
}

// Listing quantity input
.quantity-wrapper {
  width: 100%;
  margin-bottom: lines(0.75);
}
.quantity-label-wrapper {
  float: left;
  width: 100%;
}
.quantity-label {
  float: left;
  width: auto;
  font-weight: bold;
  padding: lines(0.35) lines(0.35) 0 0;
  margin: auto em(100) auto 0;
}
.quantity-input {
  margin-left: em(-100);
  width: em(100);
  float: left;
}
.quantity-input input{
  width: 100%;
}
.quantity-input input:focus {
  outline-width: 0;
}

// Listing author
$listing-author-avatar-width: 108;
$listing-author-avatar-height: 108;

.listing-author {
  position: relative;
}

.listing-author-avatar {
  width: em($listing-author-avatar-width);
  height: em($listing-author-avatar-height);
  position: absolute;
  top: 0;
  left: 0;

  > a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.listing-author-avatar-image {
  @include border-radius($default-border-radius);
  display: block;
  width: 100%;
  height: 100%;
}

.listing-author-details {
  width: 100%;
  padding-left: em($listing-author-avatar-width);
  min-height: em($listing-author-avatar-height);
  padding-left: em($listing-author-avatar-width) + lines(0.75);
  margin-top: lines(0.25); // Author box looks a bit better when given a bit more room
  margin-bottom: lines(0.75); // Author box looks a bit better when given a bit more room
}

.listing-author-name {
  @include big-type;
  height: em($listing-author-avatar-width, 22) / 2;
  line-height: em($listing-author-avatar-width, 18) / 2;
}

.listing-author-name-link {
  display: block;
  @include ellipsis;
}

.listing-author-contact-button {
  @include grey-button;
  width: 100%;
}

// Listing author activity

.listing-author-activity {
  @include clearfix();
}

.listing-author-activity-icon {
  font-size: 32px;
  line-height: (em(32, 32) * 1.5);
  display: block;
  float: left;
  width: em(32, 32);
}

.listing-author-activity-item {
  float: left;
  width: lines($right-column-1-3) - 0.75em - em(32) - lines(1); // FIXME!!!
  margin-left: lines(0.5);
}

.listing-author-activity-description {
  @include small-type;
  color: $border;
}

// Map
.listing-map {
  width: 100%;
  height: lines(8);
}

.listing-view-admin-links {
  margin: lines(0.5) 0; // Some top & bottom margin to give links some space
}

.map-link {
  float: right;
  font-size: em(14);
  margin-top: 0.2em;
}

// Delivery options
.delivery-title {
  margin-bottom: 0;
}

.delivery-label {
  display: inline;
  width: auto;
  margin-left: lines(0.2);
}

// Transaction action button
.book-button {
  @include big-button($link);
  margin-top: 0;
  width: 100%;
  text-align: center;
}

.availability_message{
  padding: 7px;
  border: 2px solid #A50D2A;
  border-radius: 7px;
  color: white;
  background-color: #A64C5D;
}

.book-button .content {
  width: 100%;
  display: block;
}

.checkbox-option {
  &.selected {

  }
  &.not-selected {
    color: $border;
  }
}

.checkbox-option-checkmark {
  display: inline-block;
  width: 20px;
  color: $link;
}

.listings-how-paypal-works-link {
  font-size: em(14);
}

.custom_field_enabler{
  display: block;
  background-color: green;
  float: right;
  margin-right: -40px;
}

.custom_fields_grey{
  background-color: #BFBFBF;
}
#edit_custom_fields_disable_elements{
  width: 450px;
  background-color: rgba(173, 173, 173, 0.35);
  height: 80%;
  position: absolute;
  margin-top: -11px;
  margin-left: -11px;
  z-index: 10;
}
#edit_custom_fields_save{
  width: 100%;
}
#edit_custom_fields_return{
  margin-top:17px;
}

.upgrade_profile{
  border: 2px solid #0D8610;
  text-align: center;
  border-radius: 10px;
  background-color: #AAE4A6;
  margin: 10px 30px;
  padding: 5px;
  font-weight: bold;
  color:black;
  display: block;
}

.upgrade_profile_static{
  position: fixed;
  right:5px;
  top:65px;
  width: 80%;
  max-width: 330px;
  border: 2px solid #0D8610;
  text-align: center;
  border-radius: 10px;
  background-color: #AAE4A6;
  padding: 5px;
  font-weight: bold;
  color:black;
  display: block;
}

.files-headline{
  font-weight: bold;
}

.location_alias_header{
  font-weight: bold;
  margin-right: 15px;
}
.location_alias_text{
  font-size: 0.95em;
}


.notyetavailable{
  position: absolute;
  width: inherit;
  height: 440px;
  background-color: rgba(154, 154, 154, 0.6);
  display: block;
  z-index: 1000;
  margin-left: -10px;
  margin-top: -10px;

  @include media (tablet){
    max-width: 370px;
  }
}
.notyetavailabletext{
  margin: 20px 10px;
  background-color: #AF7070;
  padding: 30px 10px;
  border: 2px dashed #963030;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

#import_listings_from_file{
  text-align: center;
  margin-top: 40px;
  font-style: italic;
  font-size: 1.2em;
}
.checkbox-group-container{
  max-height: 155px;
  overflow-y: scroll;
}

.link-dialog-listing-view{
  display: none;
}
#listing_navigation{
  font-size: 1.3em;
  padding: 0px;
  border-radius: 6px;
  box-shadow: 0 0 2px;
  background-color: rgb(199, 199, 199);
  color: white;

  .col-10{
    padding: 10px 5px;
  }

  a{
    padding: 10px 5px;
    color: white;

    &:hover{
      color: #888;
    }
  }

  #listing-nav-right{
    width: 100%; display: block;
    &:hover{
      background-color: #888;
      border-radius: 0 8px 8px 0;
      color:white;
    }
  }
  #listing-nav-left{
    width: 100%; display: block;
    &:hover{
      background-color: #888;
      border-radius: 8px 0 0 8px;
      color:white;
    }
  }
}
#listing_back_button{
}

.listing-request-form-wrapper{
  padding: 2% 5%;
  background-color: #E4E3E3;
  border-radius: 15px;
  font-size: 0.9em;
  box-shadow: 0 0 8px grey;
}

.listings-request-slider-bubble{
  display: none;
  text-align: center;
  position: absolute;
  top: 25%;
  width: 110px;
  height: 16%;
  background-color: #23A3B9;
  border: 1px solid white;
  right: 3px;
  box-shadow: 0 0 5px white;
  color: white;
  font-size: 1.3em;
  border-right: 0px;
  cursor:pointer;

  &:hover{
    box-shadow: 0 0 5px black;
  }
}

#keyboard-navigation-button{
  position: fixed;
  top: 150px;
  right: 50px;
  color: black;
  z-index: 9999;
}
