@import "mixins/all";

.signupType{
  width:100%;
  margin-top: 18px;
  text-align: center;
  color: #4d5c8b;

  :hover{
    color: #1C378B;
  }
}

#signup_company{
  display: none;
}
#signup_employee{
  display: none;
}


.fb_signup{
  display: none;
}

.signup-horizontal-line {
  margin: lines(1.25) 0;
  text-align: center;
  position: relative;
  z-index: 2;
  font-variant: italic;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: solid 1px $border;
    z-index: -1;
  }
}
.signup-horizontal-line-text {
  padding-left: lines(0.25);
  padding-right: lines(0.25);
  display: inline;
  text-align: center;
  background-color: white;
  @include larger-type;
  color: $light-body;
}


#person_organization_name2{
  display: none;
  width:100%;
  min-height: 42px;
  padding-top: 7px;
  padding-left: 7px;
}
#person_organization_name{
  display: block;
}

#create_new_account{
  width: 100%;
}

#create_new_account_row{
  margin-top: 20px;
}

.fb_signup{
  display: none;
}
#person_organization_email{
  display: none;
}
#organization_email_label{
  display: none;
}


.webui-popover{
  background-color: rgb(250, 240, 217);
}

.choose-product{
  display: block;
  color: black;
  height: 80px;
  font-size: 2em;
  margin: 40px 10px;
  border-radius: 15px;
  text-align: center;
  padding: 25px;

  &:hover{
    background-color: black!important;
    color: white!important;
  }
}
#choose-marketplace{
  background-color: #ABD3D4;
}
#choose-pooltool{
  background-color: #F9CB9D;
}
.product_wrapper{

}
.product-details{
  margin: 0 15px;
}
