$default-border-radius: 5px;
$default-button-height: 42px;
$default-button-line-height: 40px;

$default-page-width: lines(48);

/* MARKETPLACE - Height of the whole footer bar if
$footerHeight_tablet: lines(9);
$footerHeight: lines(9);
*/

/* POOL TOOL ONLY - Height of the whole footer bar if */
$footerHeight_tablet: lines(7);
$footerHeight: lines(7);
