commands:
  00_deinstall_rack_160:
    test: '[ ! -e /opt/elasticbeanstalk/.post-provisioning-complete ]'
    #command: "gem uninstall -i /opt/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0 rack -v 1.6.0"
    command: "gem uninstall -i /opt/elasticbeanstalk/lib/ruby/lib/ruby/gems/2.2.0 rack -v 1.6.0"

  01_deinstall_rack_per_hand:
    test: '[ ! -e /opt/elasticbeanstalk/.post-provisioning-complete ]'
    #command: "rm -r /opt/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/rack-1.6.0"
    command: "rm -r /opt/elasticbeanstalk/lib/ruby/lib/ruby/gems/2.2.0/gems/rack-1.6.0"

  02_install_rack_145:
    test: '[ ! -e /opt/elasticbeanstalk/.post-provisioning-complete ]'
    #command: "gem install -i /opt/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0 rack -v 1.4.5"
    command: "gem install -i /opt/elasticbeanstalk/lib/ruby/lib/ruby/gems/2.2.0 rack -v 1.4.5"

  99_write_post_provisioning_complete_file:
    command: "touch /opt/elasticbeanstalk/.post-provisioning-complete"
