# Details:
# http://www.dannemanne.com/posts/post-deployment_script_on_elastic_beanstalk_restart_delayed_job
# http://stackoverflow.com/questions/14401204/how-to-automatically-restart-delayed-job-when-deploying-a-rails-project-on-amazo

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_restart_delayed_job.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      # Using similar syntax as the appdeploy pre hooks that is managed by AWS

      # Loading environment data
      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
      EB_APP_CURRENT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
      EB_APP_PIDS_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_pid_dir)

      # Setting up correct environment and ruby version so that bundle can load all gems
      . $EB_SUPPORT_DIR/envvars
      . $EB_SCRIPT_DIR/use-app-ruby.sh

      # Now we can do the actual restart of the worker. Make sure to have double quotes when using env vars in the command.
      # For Rails 4, replace script/delayed_job with bin/delayed_job
      cd $EB_APP_CURRENT_DIR

      # Index and start Sphinx (this will fail if sphinx is already started)
      # bundle exec rake RAILS_ENV=production ts:index
      # bundle exec rake RAILS_ENV=production ts:start
      # The searchd processes have to be killed before they can be started,
      # if they are already started. We could do this manually with
      # 1) ps aux | grep sphinx   and   2) kill pid
      # or easier with the rake ts:stop command
      # If changes are made to the Sphinx index structure we need to stop,
      # re-index and start the server. This is wrapped into a single task:
      # rake ts:rebuild

      bundle exec rake RAILS_ENV=production ts:rebuild


      # Start delayd worker job (rake jobs:work)
      # Usage: su [options] [LOGIN]
      su --shell /bin/bash --command "bundle exec script/delayed_job --pid-dir=$EB_APP_PIDS_DIR restart" $EB_APP_USER
