A new employee has joined you company #{@community.full_name(@employee.locale)}.

%div{:style => "margin: 15px 0; padding: 10px; background-color: #d1c9b4;"}
  %b Name:
  = @employee.name(@community)
  %br/
  %b Email:
  = @email

This is an automatic message sent from #{@community.full_name(@employee.locale)}.
