%tr
  %td{:align => "left", :style => "padding-top: 15px;"}
    %font{body_font}
      = t("landing_page_signup.body", service_action: action, service_email: email, service_phone: phone, service_name: name).html_safe
