.checkbox-container
  = check_box_tag "company_option[#{pooltool_option_type}]", "true", @site_owner.company_option[pooltool_option_type] ? true : false, :id => pooltool_option_type
  = label_tag pooltool_option_type, t("settings.pooltool.#{pooltool_option_type}")
