- frontpage_fragment_cache("grid_item", listing) do
  .home-fluid-thumbnail-grid-item
    %div
      -# Listing image
      = render :partial => "layouts/grid_item_listing_image", :locals => {:listing => listing, :modifier_class => "pooltool_grid_item_modifier_class", :modifier_price => "pooltool_price_modifier"}
      .radiobutton_griditem
        = radio_button_tag :devicename, listing[:title], style: "vertical-align:center"
