
%h2 Allgemeine Geschäftsbedingungen

.terms-header-1
  %h3 1. Allgemeines

.terms-header-2
  1.1
.terms-text
  Hermann Wagner als Betreiber des Projektes „Rentog-Pool-Tool“ (im Folgenden „Rentog“) stellt unter *.rentog.com und anderen Top-Level-Domains Produkte, Software und Dienstleistungen (im Folgenden zusammenfassend „Dienste“) zur Verfügung. Durch Ihre Nutzung dieser Dienste erklären Sie sich mit den vorliegenden Allgemeinen Geschäftsbedingungen (im Folgenden „AGB“) einverstanden.

.terms-header-2
  1.2
.terms-text
  Rentog behält sich das Recht vor, die AGB jederzeit ohne Vorankündigung anzupassen. Die jeweils aktuellste Version der AGB ist unter <a href="/de/infos/terms">http://rentog.com/de/infos/terms</a> einsehbar.

.terms-header-2
  1.3
.terms-text
  Sollten einzelne Bestimmungen dieser AGB ungültig sein oder werden, bleibt die Gültigkeit der übrigen Bestimmungen unberührt.

.terms-header-2
  1.4
.terms-text
  Rentog behält sämtliche Urheber- und sonstigen Rechte an den Diensten. Sie sind nicht berechtigt, rechtliche Hinweise (z. B. Urheberrechts- oder Markenhinweise) zu entfernen, zu verdecken oder zu verändern. Sie dürfen die Marke „Rentog“ ohne schriftliche Bestätigung mit dem Eigentümer nicht für eigene Zwecke – egal welcher Art – nutzen.

.terms-header-2
  1.5
.terms-text
  Durch die Verletzung der Bestimmungen verwirken Sie Ihr Nutzungsrecht an den Diensten und berechtigen Rentog dazu, Ihr Benutzerkonto bzw. Ihren Zugriff zu den Diensten zu sperren.

.terms-header-2
  1.6
.terms-text
  Diese AGB bilden die gesamte Vereinbarung zwischen Ihnen und Rentog und ersetzen sämtliche vorherigen Vereinbarungen unter diesem Titel. Mündliche Nebenabreden bestehen nicht.

.terms-header-2
  1.7
.terms-text
  Es gilt in jedem Fall Österreichisches Recht, unabhängig von Ihrem Standort. Gerichtsstand ist Wien, Österreich.




.terms-header-1
  %h3 2. Leistungserbringung durch Rentog

.terms-header-2
  2.1
.terms-text
  Rentog übernimmt keine Gewährleistung dafür, dass (i) die Dienste Ihren Anforderungen oder Erwartungen entsprechen, (ii) die Dienste ununterbrochen, zeitgerecht, sicher und fehlerfrei zur Verfügung stehen, (iii) die durch die Benutzung der Dienste erhaltenen Resultate korrekt und zuverlässig sind, (iv) allfällige Fehler in den Diensten korrigiert werden.

.terms-header-2
  2.2
.terms-text
  Rentog haftet nicht für direkte oder indirekte Schäden irgendwelcher Art, die resultieren durch: (i) die Nutzung bzw. das Unvermögen zur Nutzung der Dienste; (ii) Änderungen an den Diensten; (iii) dauerhafte und vorübergehende Nichtverfügbarkeit der Dienste; (iv) Nichtverfügbarkeit bzw. nicht korrekte Verfügbarkeit von durch die Dienste verarbeiteten Daten; (v) oder andere Ursachen im Zusammenhang mit den Diensten.

.terms-header-2
  2.3
.terms-text
  Rentog leistet technischen Support auf „Best Effort“-Basis und ausschliesslich via E-Mail. Rentog übernimmt keine Gewährleistung für die Verfügbarkeit von technischem Support.

.terms-header-2
  2.4
.terms-text
  Rentog hat das Recht, sich für die Leistungserbringung jederzeit und in beliebigem Umfang den Diensten Dritter zu bedienen.

.terms-header-2
  2.5
.terms-text
  Rentog hat das Recht, die Dienste (oder Teile davon) jederzeit dauerhaft oder vorübergehend einzustellen, zu entfernen oder zu ändern oder neue Dienste hinzuzufügen. Diese Änderungen unterliegen automatisch diesen Bestimmungen. Durch Ihre weitere Nutzung der Dienste nach solchen Änderungen erklären Sie sich stillschweigend mit den Änderungen einverstanden.




.terms-header-1
  %h3 3. Ihre Nutzung der Dienste

.terms-header-2
  3.1
.terms-text
  Sie erklären sich einverstanden, die Dienste nur gemäss (i) der vorliegenden Bestimmungen und (ii) der für Sie relevanten Regelungen und Gesetzgebung einzusetzen.

.terms-header-2
  3.2
.terms-text
  Für manche Dienste (oder Teile davon) kann Rentog eine Registrierung für ein Benutzerkonto voraussetzen oder optional anbieten. Sie sind verpflichtet, alle im Rahmen einer Registrierung nötigen Informationen korrekt und wahrheitsgemäss auszufüllen und aktuell zu halten. Sie sind ausserdem verantwortlich für die Sicherheit Ihres Passworts. Es ist nicht zulässig, Konten automatisiert zu erstellen.

.terms-header-2
  3.3
.terms-text
  Für manche Dienste (oder Teile davon) erlaubt Rentog, ein persönliches Profilbild zu konfigurieren. Sie sind dafür verantwortlich, dass Ihr Profilbild nicht missbräuchlich ist, keine Urheber- oder Marken- oder sonstigen Rechte verletzt und nicht anstössig wirkt auf andere Rentog-Benutzer.

.terms-header-2
  3.4
.terms-text
  Sie dürfen sich auf Rentog nicht als eine andere Person oder Unternehmen ausgeben.

.terms-header-2
  3.5
.terms-text
  Sie erklären sich einverstanden, die Dienste nicht in irgendeiner Weise absichtlich zu stören oder zu unterbrechen.

.terms-header-2
  3.6
.terms-text
  Sie erklären sich einverstanden, die Dienste zu keinem Zweck zu reproduzieren, zu kopieren, zu verkaufen, zu handeln oder weiterzuvertreiben.

.terms-header-2
  3.7
.terms-text
  Sie erklären sich mit der Datenschutzrichtlinie (Privacy Policy) von Rentog einverstanden. Diese ist einsehbar unter <a href="/de/infos/privacy">http://rentog.com/de/infos/privacy</a>.

.terms-header-2
  3.8
.terms-text
  Rentog behält sich vor (aber ist nicht dazu verpflichtet), Inhalte oder Konten innerhalb der Dienste zu prüfen, zu filtern, zu verändern, zurückzuweisen oder zu löschen. Sie nehmen zur Kenntnis, dass Sie durch die Benutzung von Rentog Daten ausgesetzt werden können, die beleidigend, anstössig oder in anderer Weise zu beanstanden sind.




.terms-header-1
  %h3 4. Werbung

.terms-header-2
  4.1
.terms-text
  1.  Manche Dienste (oder Teile davon) werden durch Werbung und/oder andere Promotionsmassnahmen finanziert und blenden entsprechend gewisse Werbeanzeigen ein. Das Einblenden dieser Werbeanzeigen kann gesteuert werden durch die Informationen, die durch die Benutzung der Dienste entstehen.

.terms-header-2
  4.2
.terms-text
  Art und Umfang der Werbung können jederzeit ändern.

.terms-header-2
  4.3
.terms-text
  Sie erklären sich damit einverstanden, dass Rentog Werbung einblendet.

.terms-header-2
  4.4
.terms-text
  Falls Sie einen kostenfreien Dienst benützen, dürfen Sie die Werbung nicht blockieren.



.terms-header-1
  %h3 5. Preisänderungen

.terms-header-2
  5.1
.terms-text
  Rentog behält sich das Recht vor kostenfreie Dienste in Abonnements oder Verträge umzuwandeln. Dazu werden den Nutzern die Abonnements oder Verträge angeboten und können von Diesem angenommen oder abgelehnt werden. Im Falle der Ablehnung wird das Benutzerkonto gelöscht.

.terms-header-2
  5.2
.terms-text
  Rentog behält sich vor, die Preise aller Dienste jederzeit zu ändern. Preisänderungen haben allerdings keinen Einfluss auf laufende Abonnements oder Verträge sondern treten erst bei der nächsten Vertrags- bzw. Abonnementsverlängerung in Kraft.

.terms-header-2
  5.3
.terms-text
  Rentog kann weder Ihnen noch Dritten gegenüber haftbar gemacht werden für Preisänderungen bzw. sich aus Preisänderungen ergebenden Konsequenzen.

