
%h2 Rentog terms of use

.terms-header-1
  %h3 1. General

.terms-header-2
  1.1
.terms-text
  By using any of the Rentog products, software, or services available at *.rentog.com and other top-level domains (collectively referred to as "Services") provided by a project of Hermann Wagner (following called "Rentog"), you agree to be bound by the following terms and conditions ("Terms of Service").

.terms-header-2
  1.2
.terms-text
  Rentog reserves the right to update and change the Terms of Service at any time without notice. You can review the most current version of the Terms of Service at: <a href="/en/infos/terms">http://rentog.com/en/infos/terms</a>

.terms-header-2
  1.3
.terms-text
  The failure of Rentog to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision.

.terms-header-2
  1.4
.terms-text
  You agree that Rentog owns all legal rights in the Service. You must not remove, modify or obscure any legal notices. You are not entitled to use Rentog’s trademarks, trade names, brands, domain names, or other distinctive brand features without written confirmation of the owner.

.terms-header-2
  1.5
.terms-text
  Violation of any of the terms below can result in the termination of your user-account or access to the Services. Violation of any of the terms will also terminate your usage rights of the Services.

.terms-header-2
  1.6
.terms-text
  If a provision of this agreement is or becomes illegal, invalid or unenforceable in any jurisdiction, that shall not affect: (i) the validity or enforceability in that jurisdiction of any other provision of this agreement; or (ii) the validity or enforceability in other jurisdictions of that or any other provision of this agreement.

.terms-header-2
  1.7
.terms-text
  These Terms of Service constitute the entire agreement between you and Rentog und replace all previous agreements under this title. There are no verbal subsidiary agreements.

.terms-header-2
  1.8
.terms-text
  These Terms of Service, and your relationship with Rentog under these Terms of Service, shall be governed by the laws of Austria. You and Rentog agree to submit to the exclusive jurisdiction of the courts located in Vienna, Austria, to resolve any legal matter arising from the Terms of Service.


.terms-header-1
  %h3 2. Provision of the Services by Rentog

.terms-header-2
  2.1
.terms-text
  Your use of the Services is at your sole risk. The Services are provided on an "as is" and "as available" basis.

.terms-header-2
  2.2
.terms-text
  Rentog does not warrant that (i) the Services will meet your requirements or expectations, (ii) the Services will be delivered uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the Services will be accurate or reliable, (iv) any errors in the Services will be corrected.

.terms-header-2
  2.3
.terms-text
  You understand and agree that Rentog shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to any loss of profit, loss of goodwill, loss of business reputation, loss of data, cost of procurement of substitute goods or Services, or other intangible loss, resulting from: (i) the use or the inability to use the Services; (ii) any changes which Rentog may make to the Services, or any permanent or temporary cessation in the provision of the Services; (iii) unauthorized access to or alteration of your transmissions or data; (iv) the deletion of, corruption of, or failure to store, any content and other communications data maintained or transmitted by or through the use of the Services; (v) or any other matter relating to the Services.

.terms-header-2
  2.4
.terms-text
  Technical support is provided on a best-effort basis and only by e-mail.

.terms-header-2
  2.5
.terms-text
  You understand that Rentog can use third parties (e.g., hosting partners) to provide the necessary resources (e.g., hardware, software, networking, storage, etc.) to run the Services.

.terms-header-2
  2.6
.terms-text
  Rentog may stop, remove, modify, or add (permanently or temporarily) Services (or features within Services) at Rentog’s sole discretion. Any new, changed, or removed features are subject to the Terms of Service. Continued use of the Services after any such changes constitute your consent to the changes.



.terms-header-1
  %h3 3. Use of the Services by you

.terms-header-2
  3.1
.terms-text
  You agree to use the Services only for purposes that are permitted by (i) the Terms of Service and (ii) any applicable law, regulation or generally accepted practices or guidelines in the relevant jurisdictions.

.terms-header-2
  3.2
.terms-text
  For certain Services, Rentog may offer or require you to register for a user-account. You ensure that all registration information you provide will always be valid, correct, and up to date. You are responsible for maintaining the security of your user-account and password. User-accounts registered by bots or other automated methods are not permitted.

.terms-header-2
  3.3
.terms-text
  For certain Services, Rentog may offer to upload your personal profile photo. You are responsible to not upload an abusive photo, to not infringe on any copyrights or trademarks, and to not use a design which other Rentog users may deem offensive.

.terms-header-2
  3.4
.terms-text
  You agree that you will not impersonate another person or company.

.terms-header-2
  3.5
.terms-text
  You agree that you will not engage in any activity that interferes with or disrupts the Services (or the servers and networks which are connected to the Services).

.terms-header-2
  3.6
.terms-text
  You agree that you will not reproduce, duplicate, copy, sell, trade or resell the Services for any purpose without the express written permission by Rentog.

.terms-header-2
  3.7
.terms-text
  You agree that you are solely responsible for (and that Rentog has no responsibility to you or to any third party for) any breach of your obligations under the Terms of Service and for the consequences (including any loss or damage which Rentog may suffer) of any such breach.

.terms-header-2
  3.8
.terms-text
  You agree to Rentog’s privacy policy, as available at <a href="/en/infos/privacy">http://rentog.com/en/infos/privacy</a>.

.terms-header-2
  3.9
.terms-text
  Rentog reserves the right (but has no obligation) to pre-screen, review, flag, filter, modify, refuse or remove any or all content or user-account from any of the Services at Rentog’s sole discretion. You understand that by using the Services you may be exposed to content that you may find offensive, indecent or objectionable and that, in this respect, you use the Services at your own risk.



.terms-header-1
  %h3 4. Advertisements

.terms-header-2
  4.1
.terms-text
  Some of the Services are supported by advertising revenue and may display advertisements and promotions. These advertisements may be targeted to the content of information stored on or made available to the Services.

.terms-header-2
  4.2
.terms-text
  The manner, mode and extent of advertising on the Services are subject to change without specific notice to you.

.terms-header-2
  4.3
.terms-text
  You agree that Rentog may place such advertising on the Services.

.terms-header-2
  4.4
.terms-text
  If you are using a free service, you must not block such advertising.


.terms-header-1
  %h3 5. Modifications of the prices

.terms-header-2
  5.1
.terms-text
  Rentog preserves the right to change free services to payable subscriptions. In this case, the user gets an offer for the subscription, which can be accepted or declined. In case of declining, the user account will be deleted.

.terms-header-2
  5.2
.terms-text
  Prices of all Services are subject to change. If they change, the changes do not affect running subscriptions but will take effect only for any subsequent subscription period you choose to purchase.

.terms-header-2
  5.3
.terms-text
  Rentog is not liable to you or to any third party for any price change.

