- content_for :title_header do
  %h1#createListingsFromFile-header= t(".headline")

.create-listings-from-file-wrapper
  - if @result != []
    %ul.error
      - @result.each do |res|
        - if res.class.to_s == "Array"
          %li= t(".could_not_create_or_update", title: res.title, message: rel.message.to_s).html_safe

    %ul.success
      - @result.each do |res|
        - if res.class.to_s == "String"
          %li= t(".successfully_imported_device", title: res).html_safe
  - else
    %p.nothing-imported= t(".nothing_imported").html_safe

  .link-wrapper
    .link-wrapper-header
      Nächste Aktion:
    %ul
      %li
        =link_to t(".import_another_file").html_safe, import_listings_new_import_path
      %li
        =link_to t(".pooltool_calendar_view").html_safe, person_poolTool_path(@current_user.get_company)


