@import "mixins/all";

.button-hoverable {
  .content.hover-content {
    display: none;
  }
}

.button-hoverable:hover:not(.button-disable-hover) {
  .content.default-content {
    display: none;
  }
  .content.hover-content {
    display: table-cell;
  }
}

.follow-button {
  @include grey-button;
  width: 100%;

  &.unfollow:hover:not(.button-disable-hover) {
    background: $red;
    color: white;
  }
}

.follow-button-small {
  @include grey-button;
  width: 100%;
  font-size: 0.7em;
  padding-left: 8px;
  padding-right: 8px;

  &.unfollow:hover:not(.button-disable-hover) {
    background: $red;
    color: white;
  }
}

.config-button {
  @include grey-button;
  width: 100%;
  padding: 7px 0 0 0;

  @include media(tablet){
    font-size: 0.85em;
    margin: 10px 0 0.25em 0;
    border: 1px solid #D0D0D0;
    height: 25px;
    padding: 2px 0 0 0;
    line-height: normal;
  }
}

.trust-button {
  @include grey-button;
  width: 100%;

  &.untrust:hover:not(.button-disable-hover) {
    background: $red;
    color: white;
  }
}
.trust-button-small {
  @include grey-button;
  width: 100%;

  @include media(tablet){
    font-size: 0.85em;
    margin: 0.25em 0;
    border: 1px solid #D0D0D0;
    height: 25px;
    padding: 2px 0 0 0;
    line-height: normal;
  }

  &.untrust:hover:not(.button-disable-hover) {
    background: $red;
    color: white;
  }
}

.employ-button {
  @include grey-button;
  width: 100%;

  &.unemploy:hover:not(.button-disable-hover) {
    background: $red;
    color: white;
  }
}

.employ-button-new {
  @include yellow-button;
  width: 100%;

  &.unemploy:hover:not(.button-disable-hover) {
    background: $red;
    color: white;
  }
}

.employ-button-small {
  @include grey-button;
  width: 100%;
  font-size: 0.7em;
  padding-left: 8px;
  padding-right: 8px;

  &.unemploy:hover:not(.button-disable-hover) {
    background: $red;
    color: white;
  }
}

.employ-button-small-new {
  @include yellow-button;
  width: 100%;
  font-size: 0.7em;
  padding-left: 8px;
  padding-right: 8px;

  &.unemploy:hover:not(.button-disable-hover) {
    background: $red;
    color: white;
  }
}


.disabled-button {
  &, &:hover {
    background-color: $border;
  }
}

.follow_button_container{
  width:48%;
  float: left;
  margin-right:4%;
}

.employ_button_container{
  width:48%;
}
