@import "mixins/all";

.button-hoverable {
  .content.hover-content {
    display: none;
  }
}

.button-hoverable:hover:not(.button-disable-hover) {
  .content.default-content {
    display: none;
  }
  .content.hover-content {
    display: table-cell;
  }
}

.follow-button {
  @include grey-button;
  width: 100%;

  &.unfollow:hover:not(.button-disable-hover) {
    background: $red;
    color: white;
  }
}

.follow-button-small {
  @include grey-button;
  width: 100%;
  font-size: 0.7em;
  padding-left: 8px;
  padding-right: 8px;

  &.unfollow:hover:not(.button-disable-hover) {
    background: $red;
    color: white;
  }
}

.trust-button {
  @include grey-button;
  width: 100%;

  &.untrust:hover:not(.button-disable-hover) {
    background: $red;
    color: white;
  }
}

.employ-button {
  @include grey-button;
  width: 100%;

  &.unemploy:hover:not(.button-disable-hover) {
    background: $red;
    color: white;
  }
}

.employ-button-new {
  @include yellow-button;
  width: 100%;

  &.unemploy:hover:not(.button-disable-hover) {
    background: $red;
    color: white;
  }
}

.employ-button-small {
  @include grey-button;
  width: 100%;
  font-size: 0.7em;
  padding-left: 8px;
  padding-right: 8px;

  &.unemploy:hover:not(.button-disable-hover) {
    background: $red;
    color: white;
  }
}

.employ-button-small-new {
  @include yellow-button;
  width: 100%;
  font-size: 0.7em;
  padding-left: 8px;
  padding-right: 8px;

  &.unemploy:hover:not(.button-disable-hover) {
    background: $red;
    color: white;
  }
}


.disabled-button {
  &, &:hover {
    background-color: $border;
  }
}

.follow_button_container{
  width:48%;
  float: left;
  margin-right:4%;
}

.employ_button_container{
  width:48%;
}
