@import "mixins/all";

.button.howitworks {
  background-color:rgba(255, 255, 255, 0.44);
  padding: 0;
  display: inline-block;

  a {
    padding: 0.5em 3.5em;
    color: white;
    display: block
  }
}
.button.howitworks:hover {
  background-color:rgba(52, 52, 52, 0.44);
}

.button.create_listing{
  background-color: rgb(100, 179, 143);
  padding: 0;
  margin: 15px 0;
  font-size: 0.8em;
  @include media(tablet){
    font-size: 1em;
  }

  a {
    padding: 0.5em 1.5em;
    color: white;
    display: block
  }
}
.button.create_listing:hover{
  background-color: rgba(100, 179, 143, 0.7);
}

.button.book-a-device{
  background-color: rgb(100, 179, 143);
  padding: 0;
  margin: 15px 0;
  font-size: 0.8em;
  @include media(tablet){
    font-size: 1em;
  }

  a {
    padding: 0.5em 1.5em;
    color: white;
    display: block
  }
}
.button.book-a-device:hover{
  background-color: rgba(100, 179, 143, 0.7);
}

.landing-page-section {
  height: 30em;
}

.landing-page-content {
  padding-top: 1.5em;
  max-width: $default-page-width;
  padding-left: 0.75em;
  padding-right: 0.75em;
  margin: 0 auto;
  overflow: hidden;
}

.main-features{

}

.pooltool_screenshot{
  background-color: rgb(148, 42, 42);
}

.rentog_on_mobile{

}

.pool_tool_screenshot{
  border-radius: 20px;
  border: 3px solid white;
  display: block;
  width: 100%;
  min-width:700px;
}

.landing-page-colored-section-header{
  color: white;
  margin: 10px 0 20px 0;
  @include large-type;

  @include media(small-tablet) {
    @include huge-type;
    font-weight: 500;
  }
}

.landing-page-colored-section-main-text {
  color: white;
  margin-bottom: 10px!important;
  @include normal-type;

  @include media(small-tablet){
    @include big-type;
    font-weight: 500;
    margin-bottom: 30px!important;
  }
}

.landing-page-section-header{
  color: rgb(99, 110, 171);
  margin: 0px 0 20px 0!important;
  @include large-type;

  @include media(small-tablet) {
    @include huge-type;
    font-weight: 500;
    padding-top:10px;
  }
  @include media(tablet){
    padding-top: 40px;
  }
}

.landing-page-section-main-text {
  color: black;
  margin-bottom: 10px!important;
  @include normal-type;

  @include media(small-tablet){
    @include big-type;
    font-weight: 500;
    margin-bottom: 40px!important;
  }
}

.landing-page-section-small-header{
  color: #398C50;
  margin: 10px 0 20px 0;
  @include normal-type;

  @include media(tablet) {
    @include big-type;
  }
}

.landing-page-section-text{
  color: black;
  margin-bottom: 50px;
  @include small-type;

  @include media(tablet){
    @include normal-type;
    margin-bottom: 30px;
  }
}

.row {
  .col-5.landing-page-colored-box {
    background-color: rgba(153, 183, 247, 0.25);
    border-radius: 20px;
    padding: 1px 20px;
    -webkit-box-shadow: 5px 5px 19px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 19px 0px rgba(0,0,0,0.75);

    @include media(tablet){
      padding: 5px 20px;
    }
  }
}
