@import "mixins/all";

.button.lander-header-buttons {
  padding: 0;
  float:left;
  margin-right: 20px;
  margin-top:5px;
  width:100%;

  a {
    padding: 0.5em 3.5em;
    color: white;
    display: block;
  }

  @include media(tablet){
    margin-top: 25px;
    width:inherit;
  }
}
.button.lander-header-buttons:hover {
  background-color:rgba(52, 52, 52, 0.44);
}
.contactme{
  background-color:#006781;
}
#contact_me_form{
  display: none;
  margin-top: 50px;
  position: absolute;
  width: 100%;
  clear: both;
  text-align: left;
  background-color: #006781;
  padding: 3px 10px 3px 10px;
  border-radius: 10px;

  @include media(tablet){
    width:250px;
    margin-top:-15px;
  }
}
#contact_me_email{
  width:100%;
  font-size: 0.900em;
  line-height: 15px;
  height: 25px;
  padding: 1px 0.475em 1px 0.475em;
  text-align: left;
  display: block;
  min-height: 0px;
  margin-top: 8px;
  font-weight: normal;
}
#contact_me_phone{
  width:100%;
  font-size: 0.900em;
  line-height: 15px;
  height: 25px;
  padding: 1px 0.475em 1px 0.475em;
  text-align: left;
  display: block;
  min-height: 0px;
  margin-top: 8px;
  font-weight: normal;
}
#contact_me_name{
  width:100%;
  font-size: 0.900em;
  line-height: 15px;
  height: 25px;
  padding: 1px 0.475em 1px 0.475em;
  text-align: left;
  display: block;
  min-height: 0px;
  margin-top: 8px;
  font-weight: normal;
}
#contact_me_lastname{
  // This is for anti spam
  display: none;
}
#contact_me_btn{
  background: #FFA834;
  width:100%;
  height:30px;
  margin-top:8px;
}
#contact_me_btn:hover {
  background-color:rgba(52, 52, 52, 0.44);
}
#contact_me_success{
  position: fixed;
  top: 75px;
  right: -20px;
  width: 300px;
  height: 60px;
  background-color: #5ba364;
  color: white;
  border-radius: 15px;
  padding: 5px;
  padding-right:10px;
  font-size: 0.9em;
  border: 1px solid white;
  overflow: hidden;
  display: none;

  @include media(tablet){
    font-size: 1.2em;
    width: 400px;
    height: 70px;
    padding: 10px;
  }
}


.showmore{
  background-color:#FFA834;
}

.circle{
  border-radius: 50%;
}
.lander-play-button{
  display: none;
  margin-right: 20px;
  width: 100px;
  height: 100px;
  border: 2px solid white;
  background-color: rgba(13, 99, 121, 0.63);
  cursor: pointer;
  margin-top: -15px;

  @include media(tablet){
    display: inline-block;
  }
}
.triangle{
  width: 0px;
  height: 0px;
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
  border-left: 40px solid rgba(253, 253, 253, 0.59);
  font-size: 0px;
  line-height: 0px;
  position: relative;
}
.lander-play-button:hover,
.how_it_works_play_button:hover{
  background-color: rgba(13, 99, 121, 0.93);
  .triangle{
    border-left: 40px solid rgba(253, 253, 253, 1);
  }
}

.lander-play-triangle{
  top: 15px;
  left: 35px;
}


.landing-page-section {
  height: auto;
  overflow:hidden;
}

.landing-page-content {
  padding-top: 1.5em;
  max-width: $default-page-width;
  padding-left: 0.75em;
  padding-right: 0.75em;
  margin: 0 auto;
  overflow: hidden;
}

.main-features{

}

#landing_page_video{
  //height:100%;
  //width:100%;
}

.pooltool_screenshot{
  background-color: rgb(148, 42, 42);
  margin-bottom: 30px;
}
.pool_tool_screenshot{
  border-radius: 20px;
  border: 3px solid white;
  display: block;
  width: 100%;
  min-width:700px;
  margin-bottom: 30px;
}

.landing-page-mobile-wrapper{
  margin-top:10px;

  @include media(mobile){
    margin-top:60px;
  }

  @include media(small-tablet){
    margin-top:80px;
  }
}
.rentog_on_mobile{
  height: 440px;
}
.mobile_rentog_screenshot{
  display: block;
  min-width: 150px;
  width: 35%;
  float:right;
  margin-right:-60px;
  margin-top:10px;

  @include media(mobile){
    margin-right:-30px;
    margin-top:40px;
  }

  @include media(small-tablet){
    margin-top: 10px;
    margin-right:40px;
    float: left;
  }

  @include media(tablet){
    margin-left: 60px;
  }
}
.landingpage-apple-store-icon{
  display: block;
}
.landingpage-android-store-icon{
  margin-top:20px;
  display: block;
  margin-bottom:8px;
}

.pricing{
  margin-bottom: -49px;
  background-color: rgb(148, 42, 42);
}
.pricing_wrapper{
  width: 47%;
  margin-right: 2%;
  display: inline-block;
  margin-top: 30px;

  @include media(tablet){
    width: 22%;
  }

  p {
    color: black;
  }
}
.pricing_header{
  border: 3px solid white;
  border-radius: 25px 0 0 0;
  background-color: #232323;
  padding: 15px;
  p {
    color: white;
  }
}
.pricing_header_feedback_program{
  background-color: #4C7A34;
}
.pricing_title{
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 0.05em;
  font-weight: bold;
}
.pricing_title_feedback_program{
  font-size: 1.1em;
}
.pricing_price_wrapper{
  text-align: center;
  margin: 20px 0 5px 0;
}
.pricing_price{
  font-size: 2.9em;
  display: inline;
}
.pricing_perMonth{
  display: inline;
}
.pricing_quantity_limitations{
  /*border-width: 0px 3px 3px 3px;
  border-color: white;
  border-style: solid;*/
  background-color: white;
  padding: 15px;
}
.pricing_quantity_limitations_feedback_program{
  background-color: #CBE8BA;
}
.up_to_users{

}
.up_to_devices{
  margin-top: 6px;
}
.pricing_features{
  /*border-width: 0px 3px 3px 3px;
  border-color: white;
  border-style: solid;*/
  background-color: white;
  margin-top: 3px;
  padding: 15px;
  margin-bottom: 40px;
  border-radius: 0 0 25px 0;

  p {
    margin-bottom: 6px;
  }
}
.pricing_features_limitations_feedback_program{
  background-color: #CBE8BA;
}
#feature_free_1{
  color: black;
}
#feature_free_2{
  color: grey;
}
#feature_free_3{
  color: grey;
}
#feature_free_4{
  color: grey;
}
#feature_premium_1{
  color: black;
}
#feature_premium_2{
  color: black;
}
#feature_premium_3{
  color: grey;
}
#feature_premium_4{
  color: grey;
}
#feature_ultimate_1{
  color: black;
}
#feature_ultimate_2{
  color: black;
}
#feature_ultimate_3{
  color: black;
}
#feature_ultimate_4{
  color: black;
}
#limited_label{
  background-color: #006E8C;
  text-align: center;
  border: 2px solid white;
  border-radius: 40px / 25px;
  width: 80px;
  color: white;
  right: 0px;
  height: 50px;
  padding-top: 9px;
  margin-top: -50px;
  margin-left: 85%;
}

.landing-page-colored-section-header{
  color: white;
  margin: 10px 0 20px 0;
  @include large-type;

  @include media(small-tablet) {
    @include huge-type;
    font-weight: 500;
  }
}

.landing-page-colored-section-main-text {
  color: white;
  margin-bottom: 10px!important;
  @include normal-type;

  @include media(small-tablet){
    @include big-type;
    font-weight: 500;
    margin-bottom: 30px!important;
  }
}

.landing-page-section-header{
  color: black;
  text-align: center;
  margin: 5px!important;
  @include big-type;

  @include media(large-mobile) {
    @include large-type;
  }

  @include media(small-tablet) {
    @include larger-type;
    font-weight: 500;
    padding-top:10px;
    margin: 0px 0 20px 0!important;
  }
  @include media(tablet){
    padding-top: 40px;
  }
}

p.landing-page-section-main-text {
  color: black;
  margin-bottom: 10px;
  margin-left: 5px;
  text-align: center;
  padding: 0 8%;
  @include normal-type;

  @include media(large-mobile){
    font-size: 1.15em;
    margin-bottom: 40px!important;
  }
}

p.landing-page-section-small-header{
  color: #398C50;
  margin-bottom: 5px;
  margin-top: 5px;
  @include normal-type;

  @include media(tablet) {
    @include big-type;
    margin: 10px 0 20px 0;
  }
}

.landing-page-section-text{
  color: black;
  margin-bottom: 50px;
  @include small-type;

  @include media(tablet){
    @include normal-type;
    margin-bottom: 30px;
  }
}

.row {
  .col-5.landing-page-colored-box {
    background-color: rgba(153, 183, 247, 0.25);
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 19px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 19px 0px rgba(0,0,0,0.75);

    @include media(smaller-than-tablet){
      width: 96%;
      margin-left: 2%;
      margin-right: 2%;
      padding: 1px 10px;
    }

    @include media(tablet){
      padding: 5px 20px;
    }
  }
}


.image-circles{
  text-align: center;
  margin-bottom: 40px;
  max-width: 70%;
  display: inline-block;
  margin-left: 15%;
  margin-right: 15%;

  @include media(tablet){
    margin-left: 0px;
    margin-right: 0px;
  }
}
.main-features-image{
  width: 120px;
  height: 120px;
  background-color: none;
  display: inline-block;
}
.image-headers{
  @include big-type;
}
.main-features-image-header{
  text-align: center;
  @include big-type;
}
.main-features-image-description{
  text-align: center;
}
#main_features_image1{
  width: 120px;
  height: 125px;
  margin-top: -5px;
}
#main_features_image2{
  width: 131px;
  height: 120px;
  margin-left: -8px;
}
#main_features_image3{
  width: 136px;
  height: 120px;
  margin-left: -8px;
}

.landing-page-newsletter{
  text-align: center;
  background-color: #006781;
  padding: 10px 0px 5px 0px;
  border-radius: 10px;
  color: white;
  font-size: 1.1em;
  margin-top: -15px;
  margin-bottom: 10px;
}
#landing-page-newsletter-link{
  cursor: pointer;
  color: rgb(244, 240, 169);
  display: inline-block;
  margin-bottom: 8px;
}
#landing-page-newsletter-link:hover{
  color: rgb(237, 215, 59);
}
.newsletter-wrapper{
  display: none;
}
#newsletter-header{
  background-color: #AAD0DF;
  height: 230px;
  text-align: center;
  padding: 20px;
}
#newsletter-header-image{
  width: 80px;
  height: 80px;
  background-color: rgb(196, 223, 204);
  display: inline-block;
  margin-bottom: 10px;
}
#newsletter-header-image1{
  width: 80px;
  height: 80px;
}
#newsletter-header-text{
  color: white;
  @include big-type;
}
#newsletter-note-text{
  color: #6A5F6C;
  font-weight: 600;
  margin-top: 10px;
}
#newsletter-subscribe{
  background-color: #525E6C;
  height: 100px;

  label.error{
    padding: 0 0.625em 0 0.625em;
    background: none;
    color: rgb(236, 156, 156);
    display: inline-block;
    width: 60%;
    margin: 0px 0 0px 5px;
    position: relative;
    font-size: 0.7em;
  };
  label.error:before{
    display: none;
  }
}
#newsletter-subscribe-email{
  background-color: #454F5B;
  border: none;
  width: 60%;
  float: left;
  margin: 30px 20px 0 10px;
  color: white;
}
#newsletter-subscribe-name{
  display: none;
}
#newsletter-subscribe-btn{
  background-color: #EF7C46;
  width: 30%;
  margin-top: 30px;
  display: inline-block;
  margin-bottom: 0px;
}
#newsletter-subscribe-success-wrapper{
  display: none;
  text-align: center;
}
#newsletter-subscribe-success{
  display: inline-block;
  background-color: rgb(85, 189, 85);
  color: white;
  padding: 2px 20px;
  font-weight: bold;
  border-radius: 5px;
  margin-top:35px;
}


.pooltool_video{
  background-color:rgb(148, 42, 42);
}
.pooltool_video_column{
  text-align: center;
  padding:20px;
}
.pooltool_voucher_column{
  padding:20px;
}

#pooltool_video_header{
  text-align: left;
  color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  @include large-type;

  @include media(tablet){
    padding-left: 10%;
  }
}
#how_it_works_video_image{
  width: 100%;
  display: block;
  border-radius: 10px;

  @include media(tablet){
    margin-left: 10%;
    width: 80%;
  }
  @include media(desktop){
    margin-left: 10%;
    width: 80%;
  }
}
#how_it_works_video_section{
  margin-top: -50px;
}
.how_it_works_play_button{
  margin-right: 20px;
  width: 100px;
  height: 100px;
  border: 2px solid white;
  background-color: rgba(13, 99, 121, 0.63);
  cursor: pointer;
  display: block;
  margin-top: -42%;
  margin-left: 38%;
  margin-bottom: 22%;
  position: relative;

  @include media(tablet){
    margin-top: -36%;
  }
  @include media(desktop){
    margin-left: 40%;
  }
}
#voucher1{
  width: 65px;
  @include media(tablet){
    margin-left: 10%;
  }
}
#pooltool_voucher_header{
  display: inline;
  color: white;
  margin-bottom: 20px;
  margin-left:10px;
  @include large-type;
}
#pooltool_voucher_text{
  text-align: left;
  color: white;
  margin-bottom: 20px;
  width:99%;
  margin-top: 25px;
  font-size: 1.2em;

  @include media(tablet){
    padding-left: 10%;
    width: 95%;
  }
}
#voucher-subscribe-form{
  display: inline-block;
  width: 60%;
  float:left;
  @include media(tablet){
    padding-left: 10%;
  }

  label.error{
    padding: 0 0.625em 0 0.625em;
    background: none;
    color: white;
    display: inline-block;
    margin: 0px 0 0px 5px;
    position: relative;
    font-size: 0.7em;
  };
  label.error:before{
    display: none;
  }

}

#voucher-subscribe-email{
  width: 100%;
  background-color: rgb(119, 21, 21);
  color: white;
  border: 0px;
}
#voucher-subscribe-email:focus{
  border: 3px solid white;
}
#voucher-subscribe-name{
  display: none;
}
#voucher-subscribe-btn{
  width: 100%;
  background-color: #FFD783;
  color: rgb(148, 42, 42);
}
#voucher-subscribe-btn:hover{
  background-color: #E2B34F;
}
#voucher-subscribe-success-wrapper{
  display: none;
}
#voucher_present_wrapper{
  display: inline-block;
  width:100px;
  height:100px;

  @include media(tablet){
    width: 130px;
    height: 130px;
    margin-top: -30px;
  }
}
#voucher2{
  width:100%;
  height:100%;
  margin-left:20px;
}

#voucher-subscribe-success{
  float: left;
  width: 60%;
  background-color: rgb(0, 141, 177);
  color: white;
  padding: 5px 1px 5px 10px;
  border: 1px solid white;
  border-radius: 10px;

  @include media(tablet){
    margin-left: 10%;
  }
}
#how_it_works-register-btn{
  background: #FFD783;
  text-align: center;
  display: inline-block;
  margin: 0 0;
}
#how_it_works-register-btn:hover{
  background-color: #E2B34F;
}
#how_it_works_image1{
  width:120px;
  height:120px;
}
#how_it_works_image2{
  width:120px;
  height:120px;
}
#how_it_works_image3{
  width:120px;
  height:120px;
}


.landing-page-mobile-section-header{
  display: inline-block;
  @include big-type;

  @include media(large-mobile) {
    @include larger-type;
  }
}
