@import "mixins/all";

.fullscreen{
  max-width: 90%!important;
}

.poolTool_themes{
  height: 22px;
}
.poolTool_theme{
  width: 20px;
  height: 20px;
  margin: 1px;
  float:right;
  cursor:pointer;
}
#theme_white{
  background-color: rgb(234, 233, 233);
  border: 2px solid black;
}
#theme_white:hover{
  background-color:rgb(240, 240, 240);
}
#theme_dark{
  background-color: #4C699D;
}
#theme_dark:hover{
  background-color: #617AA9;
}
#theme_red{
  background-color: #a64c5d;
}
#theme_red:hover{
  background-color: #D05E73;
}

#error_message{
  position: absolute;
  top:35%;
  left:35%;
  width:30%;
  background-color: $error-red;
  z-index: 999999;
  display: none;
  text-align: center;
  color:white;
  vertical-align: middle;
  padding:5px;
  border-radius: 10px;
  @include large-type;
}

.poolTool_no_listings{
  position: fixed;
  bottom:10%;
  width: 90%;
  margin: 0 5% 0 5%;
  background-color: $bootstrap-warning;
  opacity: 0.87;
  font-weight: bold;
  padding: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 11px 10px 40px -1px rgba(0,0,0,0.75);
  box-shadow: 11px 10px 40px -1px rgba(0,0,0,0.75);
  @include large-type;
}

.poolTool_no_listings_whatToDo{
  font-size:0.9em;
}

.poolTool_no_listings_coverSite{
  margin-top:60px;
  background-color:rgba(0, 0, 0, 0.56);
  height:100%;
  width: 100%;
  position:absolute;
  left:0px;
  top:0px;
  z-index: 1000;
}

#orr {
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:rgba(0,0,0,0.75);
    z-index:1999;
}
.orrText {
    color: rgb(236, 218, 179) !important;
    font-size: 2.5em;
    line-height: normal;
    margin-top: 50%;
    text-align: center!important;
    font-weight: bold;
}

#addNewBooking{
  width:100%;
  max-width: 275px;
}

#addNewBookingWrapper{
  padding-left: 0px;
}

#pooltool_submit_new_transaction{
  width:100%;
  max-width: 275px;
}

#new-listing-link{
  width:100%;
  max-width: 275px;
}

#addNewDevice{
  width:100%;
  max-width: 275px;
}

#employee_wrapper{
  max-width: 450px;
}
#renter_wrapper{
  max-width: 450px;
}

.newBookingForm{
  display: none;
  padding: 5px 20px;
  border-radius: 9px;
  background-color: #CAD5EA;
  margin-bottom: 25px;
}

#tf_device_renter{
}

#poolTool_or{
  display: none;

  @include media(tablet){
    display: block;
    text-align: center;
    height: 81px;
    padding-top: 45px;
  }
}
#dd_employee{
  height:42px!important;
  width: 100%;
}
.radiobutton_griditem{
  text-align: center;
  margin-top: 5px;
  padding-bottom: 5px;
}
#device_wrapper {
  margin-top:30px;
  max-width: 1200px;
}

.pooltool_grid_item_modifier_class{
  font-size: 0.95em;
}
.pooltool_price_modifier{
  font-size: 1em!important;
  max-width: 60%!important;
  padding: 0.10em 0.20em!important;
}
.clear-floating{
  clear:both;
}
.pooltool_create_booking{
  width:100%;
}

#addNewBookingForm{
  input[type=radio], input[type=checkbox] {
      display:none;
  }
  input[type=radio] + label:before {
      content: "";
      display: inline-block;
      //width: 80%;
      width: 26px;
      height: 26px;
      vertical-align:middle;
      background-color: rgb(203, 202, 201);
      box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
      border-radius: 15px;
  }
  input[type=checkbox] + label:before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align:middle;
      margin-right: 8px;
      background-color: #aaa;
      box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
      border-radius: 4px;
  }
  input[type=radio]:checked + label:before {
    content: "\2022";
    color:#3C3C3C;
    background-color: #989694;
    font-size:3.0em;
    text-align:center;
    line-height:15px;
    text-shadow:0px 0px 3px #eee;
    //-webkit-box-shadow: 5px 5px 14px 0px rgba(168, 135, 56, 0.95);
    //box-shadow:         5px 5px 14px 0px rgba(168, 135, 56, 0.95);
  }
  input[type=checkbox]:checked + label:before {
    content:"\2714";
    color:white;
    background-color: #666;
    text-align:center;
    line-height:15px;
    text-shadow:0px 0px 3px #eee;
  }
}

#modifyBookingLinkWrapper{
  display: none;
}

#modifyBookingWrapper{
  display: none;
}

#modifyBookingContent{
  padding-left: 15px;
  padding-top: 15px;
}
#btn_delete{
  position: absolute;
  right:15px;
  bottom:5px;
  width: 150px;
}
#btn_update{
  position: absolute;
  right: 15px;
  bottom: 55px;
  width: 150px;

  @include media(tablet){
    right: 175px;
    bottom: 5px;
  }
}

#start-on2{
  height: 32px;
  min-height: 32px;
  max-width: 140px;
}
#end-on2{
  height: 32px;
  min-height: 32px;
  max-width: 140px;
}
