@import "mixins/all";

#pooltool-header{
  display: block;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 15px;

  @include media(large-mobile) {
    margin-top: 15px;
  }

  @include media(tablet) {
    margin-top: 25px;
  }
}

#pooltool-subheader{
  text-align: center;
  font-size: 0.8em;
  @include media(tablet) {
    text-align: left;
  }
}

#poolTool_Wrapper{
  //visibility:hidden;
  opacity: 0.0;

  @include media(small-desktop){
    padding-left: 20px;
  }
}

#poolToolOverlay{
  position:relative;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  width:100%;

  div {
    text-align:center;

    p{
      text-align: center;
      background-color: #F58787;
      opacity: 1.0!important;
      display: inline-block;
      padding: 10px;
      font-size: 1.5em;
      margin-top: 150px;
      border-radius: 7px;
      font-weight: bold;
      color: white;
    }
  }
}

.fullscreen{
  max-width: 90%!important;
}

.poolTool_themes{
  height: 22px;
  width: 100px;
  float: right;
}
.poolTool_theme{
  width: 20px;
  height: 20px;
  margin: 1px;
  float:right;
  cursor:pointer;
}
#theme_white{
  background-color: rgb(234, 233, 233);
  border: 2px solid black;
}
#theme_white:hover{
  background-color:rgb(240, 240, 240);
}
#theme_dark{
  background-color: #4C699D;
}
#theme_dark:hover{
  background-color: #617AA9;
}
#theme_red{
  background-color: #a64c5d;
}
#theme_red:hover{
  background-color: #D05E73;
}

#error_message{
  position: fixed;
  top:35%;
  left:35%;
  width:30%;
  background-color: $error-red;
  z-index: 999999;
  display: none;
  text-align: center;
  color:white;
  vertical-align: middle;
  padding:5px;
  border-radius: 10px;
  @include large-type;
}

.poolTool_no_listings{
  position: fixed;
  bottom:10%;
  width: 90%;
  margin: 0 5% 0 5%;
  background-color: #EA806F;
  opacity: 0.95;
  font-weight: bold;
  padding: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 11px 10px 40px -1px rgba(0,0,0,0.75);
  box-shadow: 11px 10px 40px -1px rgba(0,0,0,0.75);

  @include big-type;

  @include media(tablet){
    @include large-type;
    top:10%;
    right: 1%;
    width: 40%;
    bottom: initial;
  }
}

.poolTool_no_listings_whatToDo{
  font-size: 0.8em;
  font-weight: normal;
}

.poolTool_no_listings_coverSite{
  margin-top:60px;
  background-color:rgba(0, 0, 0, 0.56);
  height:100%;
  width: 100%;
  position:absolute;
  left:0px;
  top:0px;
  z-index: 1000;
}

#orr {
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:rgba(0,0,0,0.75);
    z-index:1999;
}
.orrText {
    color: rgb(236, 218, 179) !important;
    font-size: 2.5em;
    line-height: normal;
    margin-top: 50%;
    text-align: center!important;
    font-weight: bold;
}

.poolTool_search_container{
  width: 100%;
}
#poolTool_search{
  margin-right: 12px;
  padding-right: 30px;
}

#remove_search{
  left: 92%;
  top: -35px;
  display: inline;
  float: left;
  position: relative;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  color: black;
}

.pooltool-button{
  float: left;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 42px;
  margin: 12px 0 0 0!important;
  padding-top: 8px;
  text-align: center;
  border-radius: 5px;
  background-color: #585858;
  color: white;

  &:hover{
    background-color: #6F6F6F;
    color: white;
  }
}

#addNewBooking{
  width: 100%;
  float:left;
  margin-right:10px;
  margin-bottom:0px;
  padding: 0px;
}

#createNewDevice{
  float:left;
  width: 100%;
  height: 42px;
  margin: 12px 0 0 0;
  padding: 0px;
}

#createNewExternalBooking{
  height: 34px;
  width: 100%;
  margin-top:12px;
  margin-right:10px;
  margin-bottom:0px;
  padding:0px;
  float:left;
  @include media(mobile){
    height: 42px;
  }
}

.showLegend{
  //background-color: #5760A0;
}
.own-pool-button{
  //background-color: white;
}

#addNewBookingWrapper{
  width: 100%;
  padding-left: 0px;
}

#pooltool_submit_new_transaction{
  width:100%;
  max-width: 275px;
}


#employee_wrapper{
  max-width: 450px;
}
#renter_wrapper{
  max-width: 450px;
}
#description_wrapper{
  max-width: 980px;
  padding: 0px;
  margin-bottom: 10px;
}
#lbl_description{

}

#description_counter{
}

.newBookingForm{
  display: none;
  padding: 5px 20px;
  border-radius: 9px;
  background-color: #E1E8F5;
  margin-bottom: 25px;
}

#tf_device_renter{
}

#poolTool_or{
  display: none;
  max-width: 80px;
  @include media(tablet){
    display: block;
    text-align: center;
    height: 81px;
    padding-top: 45px;
  }
}
#dd_employee{
  height:42px!important;
  width: 100%;
}
.radiobutton_griditem{
  text-align: center;
  margin-top: 5px;
  padding-bottom: 5px;
}
#device_wrapper {
  margin-top:30px;
  max-width: 1200px;
  margin-bottom:0px;

  .home-fluid-thumbnail-grid-item{
    margin-bottom: 15px;
  }
}
#datepicker_wrapper label{
  margin-top:0px;
}

.pooltool_grid_item_modifier_class{
  font-size: 0.95em;
}
.pooltool_price_modifier{
  font-size: 1em!important;
  max-width: 60%!important;
  padding: 0.10em 0.20em!important;
}
.clear-floating{
  clear:both;
}
.pooltool_create_booking{
  width:100%;
}

#addNewBookingForm{
  box-shadow: 0px 0px 15px black;

  input[type=radio], input[type=checkbox] {
      display:none;
  }
  input[type=radio] + label:before {
      content: "";
      display: inline-block;
      //width: 80%;
      width: 26px;
      height: 26px;
      vertical-align:middle;
      background-color: rgb(203, 202, 201);
      box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
      border-radius: 15px;
  }
  input[type=checkbox] + label:before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align:middle;
      margin-right: 8px;
      background-color: #aaa;
      box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
      border-radius: 4px;
  }
  input[type=radio]:checked + label:before {
    content: "\2022";
    color:#3C3C3C;
    background-color: #989694;
    font-size:3.0em;
    text-align:center;
    line-height:15px;
    text-shadow:0px 0px 3px #eee;
    //-webkit-box-shadow: 5px 5px 14px 0px rgba(168, 135, 56, 0.95);
    //box-shadow:         5px 5px 14px 0px rgba(168, 135, 56, 0.95);
  }
  input[type=checkbox]:checked + label:before {
    content:"\2714";
    color:white;
    background-color: #666;
    text-align:center;
    line-height:15px;
    text-shadow:0px 0px 3px #eee;
  }
}

#modifyBookingLinkWrapper{
  display: none;
}

#modifyBookingWrapper{
  display: none;
}

#modifyBookingContent{
  padding-left: 15px;
  padding-top: 15px;
}


.modifyBookingContent_lbl{
   font-weight: normal;
   font-size: 0.9em;
   padding-left:12px;
}

#modifyBookingContent_row1{
  margin-bottom: 0.10em;
  height:75px;
}
#poolTool_popover_deviceImage_wrapper{
  background-color: #363636;
  float: left;
  margin-bottom: 0px;
  height: inherit;
  overflow: hidden;
  border: 1px solid rgb(197, 197, 197);
}
#poolTool_popover_deviceImage{
  height:100%;
}
#poolTool_popover_deviceName_wrapper{
  width:58.33333%;
  float:left;
  height: inherit;
  padding: 15px 0 0 15px;
}
#poolTool_popover_deviceName{
  @include big-type;
}
#poolTool_popover_transactionId{
  position: absolute;
  top: 0;
  right: 80px;
  background-color: #BF6767;
  color: white;
  padding: 1px 10px;
  border-radius: 0 0 10px 10px;
  border-bottom: 2px solid #7D1111;
  border-right: 2px solid #7D1111;
  border-left: 2px solid #7D1111;
  font-size: 0.8em;
}
#poolTool_popover_availability{
  font-style: italic;
}

#modifyBookingContent_row2{
  margin-top: 10px;
  margin-bottom: 0px;
}
#datepicker2{
  margin-bottom:0px;
}
#lbl_renter_reason{
  width: 33.333333%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0px;
  margin-bottom: 0px;
}
#lbl_starts_on{
  width: 25%;
  float: left;
  padding-right: 0.75em;
  margin-bottom: 0px;
  padding-left:13px;
}
#lbl_ends_on{
  width: 25%;
  float: left;
  padding-right: 0.75em;
  margin-bottom: 0px;
  padding-left:7px;
}


#modifyBookingContent_row3{
  margin-bottom:0px;
}
#poolTool_popover_renter{
  overflow: hidden;
  width: 33.33333%;
  float: left;
  margin-bottom: 0px;
  background-color: rgb(203, 203, 203);
  border: 2px solid rgb(181, 181, 181);
  color: rgb(100, 100, 100);
  padding: 0px 5px;
  font-size: 0.9em;
  height: 25px;
}
#datepicker_wrapper2{
  width: 50%;
  float:left;
  padding-left: 0.75em;
}
#start-on2{
  height: 25px;
  min-height: 27px;
  font-size: 0.95em;
  padding: 1px 0.475em 1px 0.475em;
}
#datepicker2-start-wrapper{
  width: 50%;
  float: left;
  margin-bottom: 0px;
  padding-right: 0.75em;
  padding-left:0px;
}
#end-on2{
  height: 25px;
  min-height: 27px;
  font-size: 0.95em;
  padding: 1px 0.475em 1px 0.475em;
}
#datepicker2-end-wrapper{
  width: 50%;
  float: left;
  padding-left:0px;
}


#modifyBookingContent_row4{
  margin-bottom:0px;
  margin-top: 5px;
}
#modifyBookingContent_description{
  margin-bottom: 0px;
  width: 50%;
  float: left;
  padding-left:0px;
}

#modifyBookingContent_row5{
  margin-bottom: 0px;
}
#poolTool_popover_description{
  width: 75%;
  margin-bottom: 0px;
  float: left;
  padding-right: 0.75em;
}
#ta_popover_description{
  font-size: 0.8em;
  height: 81px;
}
#poolTool_popover_buttons{
  width: 25%;
  float: left;
  padding-left: 5px;
  padding-top: 30px;
}
#btn_delete{
  display: inline;
  font-size: 2.9em;
  color: rgb(255, 56, 35);
  cursor: pointer;
}
#btn_delete:hover{
  color: #B21A0A;
}
#btn_update{
  margin-left: 13px;
  display: inline;
  font-size: 2.9em;
  color: rgb(98, 156, 68);
  cursor: pointer;
}
#btn_update:hover{
  color: #3B6B23;
}


.poolTool_devices_i_have{
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 20px;
  font-size: 0.8em;

  @include media (tablet){
    font-size: 1em;
  }
}

.pool_tool_header{
  @include big-type;
  background-color: #2F2F2F;
  padding: 8px 5px;
  border-radius: 7px 7px 0 0;
  border-bottom: 3px solid #000000;
  color: white;
  margin-bottom: 0px!important;
}

#my_devices{
  padding-left: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0 10px 10px;
  background-color: rgb(202, 202, 202)
}

#other_devices{
  margin-left:10px;
  margin-top: 30px;
}


.only_mine{
  float: left;
}
.show_location{
  float: left;
}
.show_author_name{
  float:left;
}
.pooltool_options{
  margin-right: 5px;
  margin-left: 10px;
  margin-top: 0.2em;
  width: 20px;
  height: 20px;
}
.pooltool_options_label{
  margin-right: 10px;
  display:inline;
}
.poolTool_options_wrapper{
  height:20px;
}
.poolTool_option_wrapper{
  float:left;
}

.no-open-bookings {
  color: #C1503E;
  margin-top: 20px;
  margin-left: 20px;
  @include big-type;
}

#pooltool_options_link{
  display: inline-block;
  float: right;
  margin-top: -5px;
  margin-right: 3px;
}
#pooltool_options_image{
  height: 25px;
}

#pooltool-side-bar{
  opacity: 0;
  background-color: #2F2F2F;
  box-shadow: 0px 0px 10px black;
  border-radius: 5px;
  color: white;
  padding: 10px;

  width: 100%;
  height: 500px;
  max-height: 300px;
  max-width: 1000px;
  min-height: 500px;

  @include media(small-desktop){
    border-radius: 0 25px 25px 0;
    width: 25%;
    max-width: 320px;
    max-height: 3000px;
  }
}

#pooltool-main-window{
  width: 100%;
  @include media(small-desktop){
    width: 75%;
  }
}

#other-pools{
  float: left;
  margin-top: 30px;
  border-top: 1px solid #8E8E8E;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
}
#my-device-table{
  width: 95%;
  max-width: 900px;
}
#my-device-table-head{
  background-color: #F7F7F7;
  border-bottom: 2px solid #A2A2A2;
}

.user_booking_img_entry{
  display:none;
  @include media (desktop){
    display:block;
  }
}
.user_booking_img{
  height: 50px;
}

.return_now{
  margin: 0px;
}

#other-shared-pools{
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 0px;
}

.col-6.other-pool-columns,
.col-12.other-pool-columns{
  padding: 0px 0px 0px 7px;
  overflow: hidden;
}

.overdue_el{
  color: #DE4949;
  font-weight: bold;
}
