#orr {
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:rgba(0,0,0,0.75);
    z-index:1999;
}
.orrText {
    color: rgb(236, 218, 179) !important;
    font-size: 2.5em;
    line-height: normal;
    margin-top: 50%;
    text-align: center!important;
    font-weight: bold;
}

#addNewBookingForm{
 display: none;
}
