
%h2 Privacy policy

.privacy-text
  Rentog takes great care to protect your privacy and to secure the data that is stored on the Rentog servers. Rentog takes measures to protect personal information against loss, misuse, unauthorized access, unauthorized disclosure, manipulation, or destruction.
  %br
  %br
  This Privacy Policy describes how Rentog handles the data it has access to.


.privacy-header
  %h3 Overview

.privacy-text
  When you use Rentog, you send pieces of data to Rentog; this can be a name, an e-mail address, or information relating to your devices. Other data is generated implicitly by your use of Rentog, e.g. log data. We use this information for internal analytical purposes to improve the product for you. Furthermore we employ other companies to perform tasks on our behalf and may need to share this information with them to provide services to you.
  %b
    We <span style="text-decoration:underline">do not</span> sell your data to third parties.


.privacy-header
  %h3 Log data

.privacy-text
  Rentog records certain requests and transactions in log files. This log data is used for troubleshooting, statistics, analytics, quality assurance, and to monitor system security and can be analyzed to that end. Rentog can publish anonymous statistics under the condition that no personally identifiable information can be derived from such statistics.
  %br
  %br
  Rentog also uses KISSmetrics and/or Google Analytics to compile usage statistics. These services are provided by Space Pencil, Inc. and by Google, Inc., respectively. Their privacy policies can be found at <a href="http://www.kissmetrics.com/privacy">http://www.kissmetrics.com/privacy</a> and <a href="http://www.google.com/privacy">http://www.google.com/privacy</a>. Rentog anonymizes IP addresses before they are sent to Google Analytics.


.privacy-header
  %h3 Cookies

.privacy-text
  When you use Rentog, the service can store cookies on your computer. Cookies are little pieces of information that can help identify your browser and that can store information, e.g. application settings. Rentog uses cookies to track usage, to improve ease-of-use and the overall user experience, and to manage advertising inventories.



.privacy-header
  %h3 Advertising

.privacy-text
  Advertising is one of Rentog’s revenue streams. Therefore, Rentog displays advertisements on some of the services, e.g. on certain web pages or in e-mails. These advertisements can be targeted based on the information that is available to Rentog, e.g. language, IP address, poll content, etc. This targeting is always an automated process; none of the information used for targeting is analyzed manually or made available to advertising customers.



.privacy-header
  %h3 Deactivated or deleted Device-listings

.privacy-text
  You can deactivate or delete your device listings. When deleting a listing, that listing’s information will be deleted from the Rentog application databases but may be archived in some other form for internal analytical purposes to improve the product for you. Log data will not be deleted.



.privacy-header
  %h3 Inactive accounts

.privacy-text
  Rentog can delete user-accounts if they remain inactive (i.e. not accessed) for 1 year or longer.



.privacy-header
  %h3 Unauthorized access

.privacy-text
  Rentog implements several mechanisms to prevent unauthorized access to polls, accounts, or other data.User-accounts are protected by passwords. You should choose a secure password and ensure its confidentiality to prevent unauthorized access to your account.



.privacy-header
  %h3 Inviting from Rentog

.privacy-text
  As an option, you can contact and invite directly from Rentog other potential users. In this case, Rentog needs to know the e-mail addresses of the people to be contacted. You can enter these e-mail addresses in the corresponding form. Rentog stores these e-mail addresses in the central database.
  %br
  %br
  <span style="text-decoration:underline">General remark:</span> Like all other personal information, Rentog will not share these e-mail addresses with third parties, but might use them to inform the potential users further about Rentog.



.privacy-header
  %h3 Communication between you and Rentog

.privacy-text
  If you send Rentog a message, this message can be stored to process it, to compile statistical information, to improve our services and support, or to get in touch with you


.privacy-header
  %h3 Location of data

.privacy-text
  Information may be stored to a server that may be located inside or outside of the EU.


.privacy-header
  %h3 Sharing personal information

.privacy-text
  Rentog uses personal information according to the Terms of Service and this Privacy Policy.
  %br
  %br
  Rentog may share personal information with other companies or individuals only in the following limited circumstances: (i) Rentog has your consent; (ii) Rentog has good faith that there is a legal obligation to share the data; (iii) Rentog needs to access or share the data to protect the security of the service or of others users’ data; (iv) Rentog needs to access or share the data to protect Rentog’s rights and property or to enforce the Terms of Service.



.privacy-header
  %h3 Changes

.privacy-text
  Rentog reserves the right to update this Privacy Policy at any time. The most current version of this policy is available at <a href="/en/infos/privacy">http://rentog.com/en/infos/privacy</a>.
