
%h2 Datenschutzrichtlinie

.privacy-text
  Rentog legt großen Wert auf den Schutz Ihrer Privatsphäre und die Sicherheit der bei Rentog hinterlegten Daten. Rentog unternimmt alle üblichen und zumutbaren Massnahmen zum Schutz persönlicher Informationen vor Verlust, Missbrauch, unberechtigtem Zugriff, Offenlegung, Veränderung oder Zerstörung.
  %br
  %br
  Vorliegende Datenschutzrichtlinie beschreibt den Umgang mit Daten, die bei Rentog anfallen.



.privacy-header
  %h3 Ihre Daten bei Rentog

.privacy-text
  Wenn Sie Rentog benützen, senden Sie Rentog Daten; zum Beispiel können dies Namen, E-Mail-Adressen oder Geräteformationen sein. Andere Daten fallen durch Ihre Nutzung implizit an, zum Beispiel Logdaten. Wir verwenden diese Informationen für interne Analysen um das Produkt für Sie weiter zu verbessern. Darüber hinaus beschäftigen wir andere Unternehmen, um Aufgaben in unserem Auftrag durchführen und teilen zu diesem Zweck die genannten Daten mit den Unternehmen.
  %b
    Wir verkaufen <span style="text-decoration:underline">keine</span> Daten an Dritte.


.privacy-header
  %h3 Logdaten

.privacy-text
  Zugriffe und Transaktionen zeichnet Rentog in so genannten Logdaten auf. Diese Logdaten werden für Fehlerbehebung, Statistiken, Analysen, Qualitätsverbesserungen und das Identifizieren von Sicherheitsproblemen benötigt und zu diesem Zweck punktuell oder statistisch ausgewertet. Rentog kann anonyme Statistiken veröffentlichen, wenn keinerlei Rückschlüsse auf persönliche Daten gezogen werden können.
  %br
  %br
  Rentog verwendet ausserdem KISSmetrics und Google Analytics, um Zugriffsstatistiken aufzuzeichnen. Diese Dienste werden von den Firmen Space Pencil resp. Google betrieben. Deren Privacy-Policies finden sich unter <a href="http://www.kissmetrics.com/privacy">http://www.kissmetrics.com/privacy</a> und <a href="http://www.google.com/privacy">http://www.google.com/privacy</a>. Rentog sorgt dafür, dass nur anonymisierte IP-Adressen bei Google Analytics landen.


.privacy-header
  %h3 Cookies

.privacy-text
  Wenn Sie Rentog verwenden, werden Cookies auf Ihrem Computer gespeichert. Cookies sind kleine Informationseinheiten, mit deren Hilfe Ihr Browser eindeutig identifiziert werden kann und in denen weitere Informationen wie Benutzereinstellungen abgelegt werden können. Rentog verwendet Cookies, um statistische Informationen aufzuzeichnen, um die Benutzung der Dienstleistung zu erleichtern und um Werbeeinblendungen zu steuern.



.privacy-header
  %h3 Werbung

.privacy-text
  Rentog finanziert sich unter anderem mit Werbung. Zu diesem Zweck können Werbeeinblendungen in den Diensten von Rentog (z. B. auf den Webseiten und in den E-Mails) angezeigt werden. Diese Werbeeinblendungen können aufgrund der Rentog zur Verfügung stehenden Informationen (Sprache, IP-Adresse, Umfrageinhalt usw.) gesteuert werden. Diese Steuerung erfolgt immer automatisiert. Die für die Steuerung herbeigezogenen Informationen werden weder manuell ausgewertet noch an Werbekunden weitergegeben.



.privacy-header
  %h3 Deaktivierte oder gelöschte Geräte-Listungen

.privacy-text
  Sie können Ihre Geräte-Listungen selber deaktivieren oder löschen. Dadurch werden die betreffenden Daten aus der Rentog Applikationsdatenbank entfernt. Wir behalten uns aber vor, diese Daten in einer anderen Form zu archivieren um diese zu analysieren und darauf basierend das Produkt zu verbessern. Logdaten werden nicht gelöscht.



.privacy-header
  %h3 Inaktive Konten

.privacy-text
  Rentog behält sich vor, Benutzerkonten und Mandanten (Premium Rentog) zu löschen, wenn diese länger als 1 Jahr inaktiv sind, d.h. kein Zugriff erfolgt.



.privacy-header
  %h3 Unbefugter Zugriff

.privacy-text
  Rentog sorgt durch verschiedene Massnahmen dafür, dass Dritte nicht unbefugt auf fremde Umfragen, Daten oder Konten zugreifen können.
  %br
  %br
  Ein zentrales Element für den Zugriffsschutz auf Konten ist das Passwort. Wählen Sie ein sicheres Passwort, und halten Sie Ihr Passwort geheim, um unbefugten Zugriff auf Ihr Benutzerkonto zu verhindern.




.privacy-header
  %h3 Einladungen über Rentog

.privacy-text
  Sie können optional direkt aus Rentog andere potentielle Nutzer einladen und mit Personen in Kontakt treten. Zu diesem Zweck benötigt Rentog die E-Mail-Adressen der zu kontaktierenden Personen. Diese E-Mail-Adressen können Sie im betreffenden Formular einfügen. Rentog speichert diese E-Mail-Adressen in der zentralen Datenbank.
  %br
  %br
  <span style="text-decoration:underline">Allgemeines im Zusammenhang mit Email-Adressen Dritter:</span> Wie alle anderen persönlichen Daten gibt Rentog auch diese Daten nicht weiter, aber verwendet diese ggf um die potentiellen Nutzer über Rentog weiter zu informieren.



.privacy-header
  %h3 Kommunikation zwischen Ihnen und Rentog

.privacy-text
  Wenn Sie Rentog eine Mitteilung schicken, kann diese Mitteilung gespeichert werden, um diese zu bearbeiten, um Statistiken zu erstellen, um unsere Dienstleistungen und Support-Leistungen zu verbessern oder um mit Ihnen in Kontakt zu treten.


.privacy-header
  %h3 Standort der Daten

.privacy-text
  Die Datenbanken von Rentog befinden sich auf Servern die innerhalb oder außerhalb der EU liegen können.


.privacy-header
  %h3 Verarbeitung oder Weitergabe von persönlichen Daten

.privacy-text
  Rentog verwendet persönliche Daten nur zur Erfüllung der Dienstleistung gemäß der Allgemeinen Geschäftsbedingungen sowie dieser Datenschutzbestimmungen.
  %br
  %br
  Rentog gibt persönliche Daten grundsätzlich nicht weiter. Eine Weitergabe erfolgt nur, (i) wenn Sie Ihre explizite Einwilligung geben; (ii) wenn gemäss Einschätzung von Rentog eine gesetzliche Pflicht zur Weitergabe besteht; (iii) wenn dies notwendig ist, um die Sicherheit anderer Rentog-Benutzer zu wahren; (iv) wenn dies notwendig ist, um die Allgemeinen Geschäftsbedingungen oder die Rechte von Rentog durchzusetzen oder diesbzgl. Untersuchungen anzustellen.



.privacy-header
  %h3 Änderungen

.privacy-text
  Rentog hat das Recht, diese Datenschutzrichtlinie jederzeit zu ändern. Die jeweils aktuellste Version der Datenschutzrichtlinie ist unter <a href="/de/infos/privacy">http://rentog.com/de/infos/privacy</a> einsehbar.
