#js-notifications-wrapper.js-notification-success
  #js-notifications-text-success
    This is a test

#js-notifications-wrapper.js-notification-alert
  #js-notifications-text-alert
    This is a test

#js-notifications-wrapper.js-notification-info
  #js-notifications-text-info
    This is a test

#js-notifications-wrapper.js-notification-warning
  #js-notifications-text-warning
    This is a test
