/- content_for :large_page_specific_javascript do
/  = javascript_include_tag "https://www.google.com/recaptcha/api.js"

#listing-side-bar-wrapper
  #listing-side-bar-close
    x

  #listing-request-form-wrapper
    = render partial: "listings/listing_side_bar_form", locals: {listing: listing}
